[2021-03-08 08:38] BYK commented on #24292
Ping @getsentry/owners-ingest for triage

[2021-03-08 08:54] BYK commented on #24269
@max-wittig can you confirm that this instance predates Sentry v10? (So you had this running on v9, went through migrations for 9.1.2 and then to this day?)

[2021-03-08 09:02] max-wittig commented on #24269
Yes exactly.

[2021-03-08 09:56] priscilawebdev commented on #17505
just added this issue to our backlog. We will look into this soon 😉

[2021-03-08 09:58] priscilawebdev commented on #17559
just added this issue to our backlog. We will work on this soon 😉

[2021-03-08 10:02] priscilawebdev commented on #9150
I recently noticed the same issue. We will fix it soon 😉

[2021-03-08 10:04] priscilawebdev commented on #8139
This task will be part of this week's sprint. Sorry for taking so long

[2021-03-08 11:10] BYK commented on #24269
@max-wittig thanks a lot. We are investigating this and will update here soon.

[2021-03-08 11:10] untitaker commented on #24292
Can you make a screenshot of the contributing values of each event? If you diff the two event payloads after having piped them through `jq .` you will find some differences.

[2021-03-08 13:25] chandan2231 opened #24297 "Web App got to much slow"
I have implemented the sentry on my Codeigniter project. I have installed the sentry through composer and the Sentry folder created successfully, Have added the project in the Sentry dashboard, after adding the project I got the configuration details and I have added those configurations on my controller.
It's working perfectly fine and throwing the error on the dashboard.
The only issue is it mad

[2021-03-08 13:26] #24297 closed

[2021-03-08 15:27] dg-eparizzi commented on #23689
Uhm, the bot is about to close it... Any updates?

[2021-03-08 15:53] BYK commented on #23689
Ping @MeredithAnya @manuzope

[2021-03-08 16:58] markstory commented on #20336
@jonathan-wondereur Are you hoping that sentry's user feedback dialog will undo/break the focus lock your application has put in place?

[2021-03-08 17:10] manuzope commented on #23879
Yea, this would be great.

Through our internal integration, you can see the [requests that were made and the status code for the responses that are received](https://blog.sentry.io/2020/02/06/sentry-integration-platform-get-insights-on-the-integrations-you-build/) but not the content of the request/response. Adding the request/response body seems like a natural extension to that.

[2021-03-08 18:16] jonathan-wondereur commented on #20336
Yes, I was hoping that sentry's user feedback dialogue would undo/break the current focus lock so a user can provide feedback.

Ideally, when the feedback was submitted the focus lock from my application would take over again.

[2021-03-08 18:26] markstory commented on #20336
@jonathan-wondereur I recognize that behavior being useful, but I don't know if that is feasible for us to do. Focus locks can be implemented in a variety of ways and unbinding the event handlers used to create focus locks requires access to the functions that were attached, and the elements focus was trapped to. Those elements could be at any depth in the DOM, and the listener functions are not g

[2021-03-08 18:44] manuzope commented on #23183
Hi @danielthedifficult, apologies for the late response.

Hmmm, pretty sure the plugin does support international numbers ([code](https://github.com/getsentry/sentry/blob/master/src/sentry_plugins/twilio/plugin.py#L28-L44)). I think it should work if you add the country code. Is that not what you're seeing?

[2021-03-08 18:59] jonathan-wondereur commented on #20336
I wonder if there could be an option to open the user feedback in a popup, new tab/window to get around this?

[2021-03-08 20:30] jrencz commented on #8139
Which way you decided to go?

[2021-03-08 20:47] manuzope commented on #22782
Hi @zs-dima, just tested this out with a Flutter project and the webhooks worked fine for me. I have a few ways we can move forward:
1. Instead of creating a webhook, try creating an internal integration (Developer Settings > Internal integration). And then configure your alert rules to send to the internal integration. Internal integrations have a dashboard that you can see which events are sent

[2021-03-08 23:13] manuzope commented on #20786
Hi @Isakrom-Ver, to confirm - you're talking about this endpoint: https://docs.sentry.io/api/events/list-a-projects-events/, yes?

[2021-03-08 23:15] jonesphillip commented on #15719
We are aware of this. It isn't on our immediate roadmap, but if we end up moving forward with adding self-hosted support for Integration Platform integrations we'll update this issue.

[2021-03-08 23:23] manuzope commented on #23689
Hi @dg-eparizzi, that's unfortunate. Looks like someone else found a workaround: https://github.com/getsentry/sentry/issues/14357#issuecomment-538379352. It's a little hacky but want to get you unblocked as soon as I can.

Does that work for you?

[2021-03-09 00:38] manuzope commented on #24171
Ah yes. This happens because of a GDPR change that Atlassian made. We use the [email endpoint](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-users/#api-rest-api-3-user-email-get) to know who the assignee is. That scope is only available to apps that request it. So, to get this working, here's the steps I think you'd need to take:
1. Upload the JIRA app as described [here](h

[2021-03-09 00:56] jasikpark opened #24323 "Duplicate accounts on sentry.io are not deduplicated or prevented."
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

[What happened]

## Steps to Reproduce

I first signed up for sentry with my email, and then added the Github App to my github account via github marketplace, which led me to create a new account with the same email, and no way to login instead of signing up on that page.

Now when trying to access my projects on

[2021-03-09 01:00] manuzope commented on #14799
Hi all! Seems like a valuable add. It's in our backlog but we're unlikely to get to it soon.

If someone wants to pick up https://github.com/getsentry/sentry/pull/15188 and help it over the line (rebase + clear up code review comments), we'd accept that but we don't have the bandwidth to do that right away.

[2021-03-09 02:26] envestcc commented on #24292
I add the diff screenshot of the two events, and i  find out that the one lacks some filename information at some stack frame. But i have no idea of the reason. Is it problem of SDK ? Symbolization ?  Or something else ?

[2021-03-09 04:00] jonesphillip opened #24332 "Jira workflow statuses repeated in sync settings"
## Important Details

What versions of Sentry does this impact?

Saas (sentry.io), Self-hosted

## Description

Jira workflow statuses are repeated in the status sync settings.

![issue-981-screenshot](https://user-images.githubusercontent.com/7978631/110416342-6d9df080-8048-11eb-990a-b52ee299a608.png)

### Expected behavior

Each workflow status should be distinct.

[2021-03-09 04:00] jonesphillip opened #24333 "The Bitbucket organization and url is not displayed correctly on the integration configuration page"
## Important Details

What versions of Sentry does this impact?

Saas (sentry.io), Self-hosted

## Description

The Bitbucket organization and url are not displayed correctly on the integration configuration page.

![Screen_Shot_2021-02-25_at_6 46 11_PM](https://user-images.githubusercontent.com/7978631/110416504-b655a980-8048-11eb-9298-f8e9ce6718e8.png)

### Expected behavior

Organization and ur

[2021-03-09 10:06] dg-eparizzi commented on #23689
Yes, that seemed to work.
Thanks

_______________________________

Emiliano Parizzi

Lead Software Development Engineer

Performance Analyzer Team

doosangridtech.com<http://www.doosangridtech.com/>

<mailto:emiliano.parizzi@doosan.com>
[cid:ee6aac49-8738-430e-a954-30e0d9fc3672]
________________________________
From: Manu <notifications@github.com>
Sent: Tuesday, March 9, 2021 00:24
To: getsentry/

[2021-03-09 11:51] BYK commented on #24323
Ping @getsentry/enterprise and @getsentry/ecosystem for triage (couldn't decide which team to route as this both seems like an auth and integration issue)

[2021-03-09 12:11] dscurtu commented on #24171
Hi! I'll check this steps, but need some time from atlassian support,I created a ticket and I'll notify about the result here. This is very useful information and it would be perfect to update the documentation :)
Thank you!

[2021-03-09 12:53] kamilogorek commented on #23862
We do not do that.

[2021-03-09 13:30] zs-dima commented on #22782
@manuzope thanks a lot for looking into.
I sent Sentry support samples in previous year already - but looks support had no time to look into yet.
Here I created new flutter project and set it up according your documentation:
[stest.zip](https://github.com/getsentry/sentry/files/6108769/stest.zip)

Webhook still does not work.

I could share my dns url and etc in email or etc, just let me know plea

[2021-03-09 18:45] BYK commented on #23636
@joshuarli do we have a list or a report somewhere?

[2021-03-09 19:32] joshuarli commented on #23636
https://www.notion.so/sentry/Python-3-8-Dependency-Audit-7bceda0b421e4349b0ad0bb5c65d916f
https://app.asana.com/0/1199646858555805/1199723264649556

[2021-03-09 20:45] manuzope commented on #23583
Hi @matthiasotto, thanks for bringing this up! Do you know what the `DefaultCollection` represents in the URL?

[2021-03-09 20:49] manuzope commented on #23689
Great - thanks for confirming! Going to close this in favor of https://github.com/getsentry/sentry/issues/14357 (which is where we're tracking this problem)

[2021-03-09 20:49] #23689 closed

[2021-03-09 21:48] armenzg opened #24351 "wheel not installed correctly"
I sometimes find very odd bugs.

So... [pip checks that it can import wheel](https://github.com/sbidoul/pip/blob/55d602298998f933b65a1b16096ecf4c9a9e657a/src/pip/_internal/utils/misc.py#L892-L901), if it can't import it then it assumes that wheel is not installed, thus, it tries to install using legacy `setup.py install`.

We don't check for being able to import wheel but we check for the binary `

[2021-03-10 00:58] alizain opened #24357 "User Feedback request is incorrectly returning a 403 error"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

I'm using Sentry's SDK to load the user feedback feature. When I use the `showReportDialog` function, the SDK injects a `<script>` tag that points to `https://sentry.io/api/embed/error-page/?dsn={DSN}&eventId={EVENT_ID}`. This script returns a 403 Forbidden error.

The request headers when Chrome makes this request

[2021-03-10 09:10] priscilawebdev commented on #8139
We talked about it internally and decided that we won't do anything, but read below for a more extensive conclusion.

It's too hard to decide what to drop and what not. Especially that there are multiple other console markers that can be used.

Ex: `console.log("this value %cwill be read and will print number %i but this will be %cblue", "color: red", 1, "color:blue")`

It's impossible to tell whi

[2021-03-10 09:14] priscilawebdev commented on #17559
Please, is there a specific page that you would like the project name to be displayed in the page title?

[2021-03-10 09:25] paalandreassen commented on #22782
Can confirm that it seems webhooks are not triggered from sentry.io.

I've tested the URL via curl and it works as expected.
When trying via the integration UI on sentry.io I get Test Results "No errors returned". But the URL is never called.

[2021-03-10 12:26] jandersen-plaid opened #24363 "Support Automatic Issue Creation for Jira Server"
## Summary

The Jira integration has brought some fantastic improvements to Sentry over the last year or so, most notably: automatic issue creation. As an on-premise user who needs to connect an on-premise version of Jira (Jira Server), it would be fantastic to see those changes brought to that integration as well.

## Motivation

Parity of features between on-premise edition of an integration and

[2021-03-10 12:35] BYK commented on #24363
Pinging @getsentry/ecosystem for triage.

[2021-03-10 17:01] SengitU commented on #21594
Hello, it's great to see this ticket is accepted, thank you 🎊 .
We are thinking about migrating from an older version, from the days where there was a changelog. Before deciding on the migration, we'd like to learn about the changes. Is there any resource that I can check what has changed meanwhile, it doesn't need to be in-depth, I guess in-depth one is a topic for this issue.

[2021-03-10 20:02] manuzope commented on #22782
Hi @zs-dima, mind putting that on GitHub? I can't securely open zip files.

@paalandreassen: just want to confirm - after setting up the webhook, did you also configure an alert rule to send to that webhook?

[2021-03-10 20:49] bowencai8 commented on #24001
Hi @gbdlin we're going to add this to our backlog, but unfortunately won't have capacity to work on this in the near-term.

I'll provide updates on this thread when we pick it up. Thanks!

[2021-03-10 21:12] markstory commented on #23372
The `is:linked` filters operate on the `GroupLink` and `PlatformExternalIssue` tables, unfortunately Asana is a 'project plugin' that stores its data in the `GroupMeta` table. This table is not connected to the `is:linked` filter unfortunately. Due to the nature of GroupMeta being an arbitrary key/value pair it is much harder to connect to `is:linked` as not all group meta values indicate an issue

[2021-03-11 01:07] eurica commented on #24323
@jasikpark Quick clarification: You made the first Sentry account from https://sentry.io/signup/ and the second one from https://github.com/apps/sentry-io ?

[2021-03-11 01:24] leedongwei commented on #17730
@stumbaumr Thanks for the detailed report!

[2021-03-11 01:28] leedongwei commented on #24248
Hi @KoSoVaR, thank for the report!

Our documentation has been updated with the correct mapping values: https://docs.sentry.io/product/accounts/sso/azure-sso/

[2021-03-11 01:31] leedongwei commented on #24248
Hi @KoSoVaR, thank for the report!

Our documentation has been updated with the correct mapping values (https://docs.sentry.io/product/accounts/sso/azure-sso) and I'll close this issue out.

cc @bowencai8 on using a dropdown with mapping values to improve UX for SSO setup.

[2021-03-11 01:31] #24248 closed

[2021-03-11 03:02] leedongwei commented on #24205
Thanks for the report! I'm able to replicate the issue and have created a ticket internally to track this. We'll will update this issue once we're able to prioritize this feature

[2021-03-11 03:16] leedongwei commented on #16721
Thanks for the feedback!

IIRC we don't support assigning users to projects. The flow would be to add the users to a team, then assign to projects to the team.

@bowencai8 I can see how it'll be useful to have a public API for assigning projects to teams as assigning Groups to Resources is not supported by SCIM.

[2021-03-11 03:30] elderlabs commented on #10925
Depends on your config, likely there's something misconfigured. This still works.

[2021-03-11 07:33] paalandreassen commented on #22782
Yes, but I've since setup a debug dump of the webhook contents and I see that sentry does indeed send a payload to the addresses specified, but the payload is not compatible with slack. There are many differences, like Slack expects a property "text" while sentry sends "message" etc.

I was naive and though webhooks were using some kind of standard payload that were (mostly) compatible between app

[2021-03-11 07:35] zs-dima commented on #22782
@manuzope
Thanks for reply and looking into.
Sure I setup alert rule and etc the same as for the .Net Core projects
(.Net Core projects Sentry webhooks works well - but Flutter posts issue to Sentry well but webhooks do not work)

I just created new Flutter project and added Sentry as described in your documentation:
main.dart:
https://gist.github.com/zs-dima/b65e4c7a0959d4b2de43d40fda26bb4c
pubsp

[2021-03-11 09:54] BYK commented on #23372
Then I'm forwarding this to @getsentry/ecosystem for triage, thanks a lot @markstory for the context and clearing out the confusion!

[2021-03-11 09:57] BYK commented on #15525
Turns out #21593 was not enough to cover project-level integrations (plugins) and this issue was incorrectly closed. That said there's a new issue with more context around this so if you are interested in Asana part, you can follow #23372 instead.

[2021-03-11 10:02] BYK commented on #21594
Hi @SengitU,

It will depend on what version you are on but there are two blog posts detailing a major infra change with Sentry v10 and the new versioning system afterwards:

1. https://blog.sentry.io/2020/01/07/self-hosted-sentry-10-is-ready-to-serve-get-it-while-its-hot
2. https://blog.sentry.io/2020/06/22/self-hosted-sentry-switching-to-calver/

If you upgrade to the latest version of Sentry (2

[2021-03-11 11:52] padinko opened #25420 "Microsoft Edge for iOS is detected as Mobile Safari"
[Micosoft Edge for iOS](https://apps.apple.com/us/app/microsoft-edge-web-browser/id1288723196)
has user agent like:
[code]

with `EdgiOS/version` part, but sentry is not detecting this and showing `Mobile Safari` as a browser

[2021-03-11 14:36] untitaker commented on #24292
That's hard to say, which SDK/platform is this?

[2021-03-11 14:38] BYK commented on #14814
Turns out this was moved to getsentry/relay so added @getsentry/owners-ingest

Will try to get it fixed before Monday.

[2021-03-11 15:39] SengitU commented on #21594
Thanks for quick response, much appreciated!

[2021-03-11 16:09] jan-auer commented on #24292
This is from `sentry.cocoa` version `5.1.8`.

[2021-03-11 16:38] markstory commented on #24357
Have you tried `ots.localhost` without the * as an allowed domain?

[2021-03-11 17:26] danielthedifficult commented on #23183
Sorry, I mi-labeled the title of the issue.

It doesn't support sending TO international numbers.

I've now found the issue- the phonenumbers library doesn't use the "DEFAULT_REGION" as a suggestion, it uses it as a 'mandate' to return a phone number formatted with that.

Maybe you could check for the presence of a  "+" sign at position 0 in the string, and if so, do not pass the second parameter.

[2021-03-11 20:31] manuzope commented on #23183
I see. And what happens if the `SMS To #s` has the country code? (`+33` in your case I believe)?

[2021-03-11 21:47] jasikpark commented on #24323
That is how I made those accounts, yes.

[2021-03-12 08:58] priscilawebdev commented on #17559
I added the name of the project on several pages of our application via these PRs:

https://github.com/getsentry/sentry/pull/24366
https://github.com/getsentry/sentry/pull/24388

I tried to add it to as many pages as possible, but please, if you notice any pages that do not yet have the name of a project and that you think would be important to have, please let us know 😉

[2021-03-12 08:58] #17559 closed

[2021-03-12 09:31] danielthedifficult commented on #23183
Good news, I guess: if the FROM number is a US number, the international TO number works.

[2021-03-12 09:38] Isszul opened #24412 "Jira Integration Problem"
## Important Details
How are you running Sentry?
Django integration on hosted webapp.

## Description
Attempted to configure the Cloud Jira integration support.

## Steps to Reproduce
1. Clicked Jira Marketplace
![image](https://user-images.githubusercontent.com/2150998/110921203-33697300-8316-11eb-9f83-6d4d7fcb19d5.png)

2. Get it now
![image](https://user-images.githubusercontent.com/2150998/110

[2021-03-12 09:54] envestcc commented on #24292
the two events are crashed from one iOS device, and information of that is as follows:

Props |  Value
-- | --
Architecture | arm64e
Boot Time | 2021-03-01T05:02:22Z
Family | iOS
Free Memory | 847.8 MB
Memory Size | 3.7 GB
Model | iPhone XS (D321AP)
Model Id | D321AP
Storage Size | 59.5 GB
Timezone | GMT+8
Usable Memory | 3.4 GB
Kernel Version | Darwin Kernel Version 20.1.0: Fri Oct 30 00:34:17 PD

[2021-03-12 10:17] vikashyap opened #24414 "Jira Integration Problem"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version x.y.z

Saas (sentry.io)

Other, version x.y.z, [briefly describe your environment]

## Description

[What happened]

## Steps to Reproduce

1. [First Step]
2. [Second Step]
3. and so on.

Good items to include here include:

- Include a stacktrace or other logs when relevant
- Include a redacted version of your config

[2021-03-12 10:17] #24414 closed

[2021-03-12 12:01] daninfpj commented on #17559
Hi @priscilawebdev! Sorry for the late response and thanks for the PRs!

I think I specifically meant the Issues page, for example: https://sentry.io/organizations/{org}/issues/?project={id}

The title for that page is right now just: “Issues - {org} - Sentry”, but there’s no project name.

I looked at the PRs you submitted and can’t see that page, or am I missing something?

[2021-03-12 13:06] BYK commented on #24412
Routing to @getsentry/ecosystem that said the page says "contact **Atlassian Support**" so this is probably something on their end?

[2021-03-12 15:14] mtenus opened #24419 "Internal error on a login page"
## Important Details

How are you running Sentry?

self-hosted w Docker, version latest

## Description

When I visit /auth/login I got 500.

[code]

## Steps to Reproduce

Good items to include here include:

- Include a stacktrace or other logs when relevant
- Include a redacted version of your configuration (`sentry.conf.py` and `config.yml` files) when relevant

### What you expected to happen

[2021-03-12 15:58] manuzope commented on #24412
Hi @Isszul, to confirm - are you running on sentry.io or your own sentry instance?

[2021-03-12 15:59] Isszul commented on #24412
Both Jira and sentry are cloud-hosted.

[2021-03-12 16:05] manuzope commented on #24412
Got it. And are you using an adblock by any chance? If so, mind disabling that and trying again?

[2021-03-12 16:08] Isszul commented on #24412
Yup, that was it. Cheers!

[2021-03-12 16:14] manuzope commented on #24412
👍  I'll update the docs. Thanks for confirming @Isszul.

[2021-03-12 16:14] #24412 closed

[2021-03-12 17:58] BYK commented on #24419
Hi @mtenus, can you provide the full logs with the relevant stack trace please. This information is not sufficient to help you diagnose the issue.

[2021-03-14 18:12] ooo27 commented on #10925
Indeed it was a configuration error. I neglected to change the endpoint from discord.com to canary.discord.com.  Thanks!

[2021-03-14 20:14] bruno-garcia opened #24440 "Expand Device Logos"
New logos are being added through #24439. Unfortunately the mobile devices reported are not named in a way that matches the css class/file for which we have a logo.

To get Samsung and Motorola we'd need some changes since today it must be an exact match with the class name. Samsung for example, would require matching `SM-*` or `ST-*`. Motorola would be `moto*`. Google Pixel could show the Google

[2021-03-15 08:05] mtenus commented on #24419
@BYK below my sentry's docker log

[code]

[2021-03-15 09:49] BYK commented on #24419
Looks like you haven't run the migrations or they didn't finish successfully.

[2021-03-15 09:53] matejminar commented on #24440
Thanks, we'll look at what we can do here.

[2021-03-15 10:02] BYK commented on #23989
Meant to close when I marked as a duplicate.

[2021-03-15 10:02] #23989 closed

[2021-03-15 10:04] BYK commented on #23843
I think this was incorrectly closed so reopening.

[2021-03-15 10:23] lovaiible commented on #24068
Hi @jjbayer, sorry I somehow missed your message here. I have inserted the payload fields that you have requested down below. Please let me know if you need further information. Thank you!

skd:
`"sdk": {
    "name": "sentry.javascript.browser",
    "version": "5.22.3",
    "integrations": [
      "GlobalHandlers",
      "TryCatch",
      "LinkedErrors",
      "UserAgent",
      "FunctionToString"

[2021-03-15 11:02] mtenus commented on #24419
@BYK  I've run the migrations again via sentry's upgrading and below results

[code]

[2021-03-15 11:56] BYK commented on #24419
@mtenus I think your setup is in an unexpected state. Your initial logs indicate you are using Python 2.7 but you also say you are using the latest version of our Docker setup, which uses Python 3 since November.

Your migration logs also indicate something off as you should not be seeing anything related to `south` there.

Can you provide more details (full?) about your setup and current environm

[2021-03-15 12:06] mtenus commented on #24419
@BYK below my setup

[code]

I followed steps from [https://hub.docker.com/_/sentry?tab=description&page=1&ordering=last_updated](url) to install sentry

[2021-03-15 12:10] #14814 closed

[2021-03-15 12:14] BYK commented on #24419
@mtenus I'm guessing you skipped/missed the big deprecation notice at the top then 😁

![image](https://user-images.githubusercontent.com/126780/111151873-1ac0bd80-85a1-11eb-8f63-0fb5ed348145.png)

Please head over to https://github.com/getsentry/onpremise or https://develop.sentry.dev/self-hosted/ and move on from there.

Closing this ticket as invalid.

[2021-03-15 12:14] #24419 closed

[2021-03-15 12:18] marandaneto commented on #23559
after a discussion and talking to some other folks, that's how it should be:

`current `: if the thread was scheduled/running or not, as the docs say: A flag indicating whether the thread was in the foreground

`crashed`: if it was the thread that captured the event, either a message or exception, it's just a bad/legacy naming, it does not mean that this thread threw an exception or crashed the Ap

[2021-03-15 13:00] priscilawebdev commented on #24440
@matejminar will be working on it 😉

[2021-03-15 13:10] priscilawebdev commented on #17559
@daninfpj I just checked and everything seems to be fine.

![Kapture 2021-03-15 at 14 09 26](https://user-images.githubusercontent.com/29228205/111158274-21970280-8598-11eb-8615-cc9a6563e422.gif)

[2021-03-15 15:08] daninfpj commented on #17559
Oh, right, got it! I didn’t know you could do that (not on the business plan 😄).

[2021-03-15 15:38] bruno-garcia commented on #23556
This was resolved already

[2021-03-15 15:38] #23556 closed

[2021-03-15 15:49] priscilawebdev commented on #9150
just an update: we are investigating this issue

[2021-03-15 15:51] priscilawebdev commented on #10221
I will be working on this issue this week 😉

[2021-03-15 18:49] tony commented on #10221
@priscilawebdev Good to know!  Excited about this. This will make the output of our issues much cleaner!

[2021-03-15 20:11] chadwhitacre commented on #18929
@parsley72 @vstanyshevskyy Is this still a problem for you? If so we'll ask @getsentry/ecosystem to (re-)triage.

[2021-03-15 20:16] chadwhitacre commented on #23372
@BYK Based on your comment I've added back `Status: Untriaged` since I think this is still awaiting a response from @getsentry/ecosystem (yes?).

[2021-03-15 20:59] armenzg opened #24459 "Make "required check" for migrations workflow"
@billyvg Could you please make this workflow a required check? (since I can't)

[2021-03-15 21:00] BYK commented on #23372
@chadwhitacre that's my bad. I actually talked to @manuzope off band and learned that moving the Asana plugin to an integration is definitely on the list but not on the near term. Should have shared it here.

Based on this, getting back the "on-hold" status :)

[2021-03-15 22:57] #23843 closed

[2021-03-16 08:15] priscilawebdev commented on #17559
@daninfpj Please what is the name of your org? Could you please paste a link to the issues page in Sentry so we can take a look?

[2021-03-16 08:27] BYK commented on #23793
@erfansahaf is there anything we can do to progress this issue?

[2021-03-16 08:28] BYK commented on #23683
@markusguenther anything we can do, are you still stuck?

[2021-03-16 10:50] BYK commented on #2836
For everyone following this thread, we've merged 2 important patches yesterday and #24471 is the final piece that should make the backup/restore experience much smoother.

Please try these improved/fixed versions and share any feedback you have about them. You can use the nightly images for testing.

[2021-03-16 10:51] BYK commented on #24238
Also ping @joshuarli and @markstory

[2021-03-16 12:16] omidraha opened #24472 "How to delete only one event of issue?"
### Summary

Every issue has many events in the issue page of  panel.
And there is a delete option in the issue page of panel named `Delete and discard future event`, But this will delete and discard the issue and all related events of issue.
But there is no way to delete only current event or specific event of issue.

### Motivation

Add  one more `delete` option to delete only current event of i

[2021-03-16 12:51] BYK commented on #24472
@omidraha can you answer the following question please:

improve?

[2021-03-16 13:05] omidraha commented on #24472
The use cases that happening to me. I have one issue by same title but customized extra messages data within events of the issue from different users.
Some of them are not useful and I would like to delete them (some events of this  issue), and some of them  (some other events of this  issue)  is useful and I would like to keep them inside of issue.

[2021-03-16 15:56] kamilogorek commented on #23937
@cxspxr based on the issue you linked above:

- frame points to `/packs/js/index-2c59116487be30432926.js`
- release id is `3694b134c2c0264a587b7a9363ff65434821a853`
- the only matching file in this release https://sentry.io/settings/12vbiz/projects/12vbiz/source-maps/3694b134c2c0264a587b7a9363ff65434821a853/?query=index-2c59116487be30432926.js can be found under the path `~/public/packs/js/index-2

[2021-03-16 18:14] gofort opened #24477 "cannot find package "." in"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version x.y.z, but it doesn't matter

## Description

When I try to build my packages in monorepo which uses vendoring I receive error.

[code]

I believe that the problem is that you are trying to import 'internal' package and when I build my packages they can't use you internal package during build because of '../../vendor'

[2021-03-16 19:03] BYK commented on #24477
@kamilogorek couldn't move this to the Go SDK repo, would you do the honors?

[2021-03-17 02:12] billyvg commented on #24459
Done

[2021-03-17 02:12] #24459 closed

[2021-03-17 09:09] piloos opened #24497 "Ignored issues are not transitioning to unresolved when they happen again"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

When ignoring an issue until the associated event happens again, the issue is not marked as unresolved when the associated event happens again.

## Steps to Reproduce

1. Ignore an issue in Sentry _until this occurs again one time from now_
2. Retrigger the associated event
3. Check in Sentry: the issue is still i

[2021-03-17 09:32] KristjanTammekivi commented on #21755
As someone who might be doing the same migration, what was the manual cleanup You needed to do?

[2021-03-17 09:45] filipnavara commented on #21755
Honestly, I don't remember anymore. The particular update script (https://github.com/getsentry/sentry/blob/master/src/sentry/migrations/0028_user_reports.py) is broken. It is looking into the `UserReport` table for events that have `environment` set to NULL. I think I opened the PostgreSQL command line interface, connected to the DB and deleted all the user reports that satisfied the condition. Th

[2021-03-17 10:45] erfansahaf commented on #23793
@BYK  I've enabled the rate-limiting feature so the system load is normal for now.

But I think there is something wrong with processing events in the higher traffic situation. The CPU usage goes too far.

[2021-03-17 12:00] bengentil opened #24501 "Reopen: Add ability to filter on specific devices (or any tag) #5322"
Could you please consider re-opening (or at least unlocking the conversation) here: #5322

This is an interesting feature that can apply to many scenarios, for example filter a server_name or a cluster_name with sentry-kubernetes during an outage

[2021-03-17 12:00] #24501 closed

[2021-03-17 12:06] BYK commented on #21755
Hi @filipnavara and @KristjanTammekivi,

Apologies for missing this issue! Just noticed with your recent activity and submitted a fix. Once that is merged, you should be able to use the nightly builds to continue @KristjanTammekivi.

[2021-03-17 13:02] BYK commented on #24497
Pinging @getsentry/workflow for triage.

[2021-03-17 13:58] jjbayer commented on #24068
@lovaiible Thank you for the information! Unfortunately, I wasn't able to reproduce the issue after upgrading a fresh install of [onpremise](https://github.com/getsentry/onpremise) version 20.7.2 to 21.1.0, using the config you provided. What version of Relay are you running? Could you maybe also share the contents of `relay/config.yml`?

[2021-03-17 14:06] BYK commented on #24472
@omidraha thanks for sharing that. Pinging @getsentry/workflow for triage. Also pinging @untitaker as he may have ideas about this.

[2021-03-17 14:08] #21755 closed

[2021-03-17 14:22] BYK commented on #2836
Alright, I've just verified locally that I can export, do a fresh install and then import that data properly. I've also tried importing an old, somewhat malformed backup file which also worked.

So I'm closing this issue. Please do report any more potential issues you may encounter and we'll be more than happy to fix them.

[2021-03-17 14:28] #2836 closed

[2021-03-17 16:59] untitaker commented on #24472
@omidraha can you elaborate on why you cannot just leave the events as they are?

In any case this is the same as that other issue about deleting transactions: Individual event deletion is probably not something we would ever like to implement.

[2021-03-17 17:33] IanMitchell commented on #10925
I wrote a service to forward Sentry Webhooks to Discord - it adds more information than the Slack compatible one does. I'm still testing its reliability, but if anyone is interested in richer embeds check out https://sentrydiscord.dev.

[2021-03-17 19:11] jonesphillip commented on #10925
@IanMitchell This is great! Would love to discuss how we could get involved, I'll reach out.

[2021-03-17 19:59] manuzope commented on #22782
Hi @zs-dima, I'm unfortunately unable to replicate this. The best I can suggest is to create an internal integration (`Developer Settings -> Internal integration`). And replacing the webhook alert action with one that goes to the internal integration. That way, we'll be able to see what response codes we're getting back, if any.

[2021-03-17 20:06] zs-dima commented on #22782
@manuzope International integration doesn't work aw well.
Could I kindly ask you to try example I provided or share any examples that works on your side with sentry project dns I provided?

[2021-03-17 20:15] omidraha commented on #24472
Yes, this is exactly Individual event deletion option.
Because I have some type of issues, that the title of this type of these issues ares  fixed.
And their events of them are very low.
For example, less than ten events per month for each issue.
And I need to these types of issues to be always open.
And these issues are not resolved or closed.
And I need to look at these issue  sometimes again.
T

[2021-03-17 20:27] manuzope commented on #24363
Hi @jandersen-plaid, thanks for bringing up this issue! This would indeed be a good addition. We don't have the bandwidth to take this on right now but would accept PRs. The way we've implemented it should make it fairly easy to add JIRA server. Should involve a few tweaks, _I think_, given that JIRA server inherits from JIRA.

[2021-03-17 20:40] BYK commented on #22782
@zs-dima we _know_ this works for many cases as we do not have anything special around Flutter (or any other platform) for integrations. "Doesn't work" is not enough for anyone here to work off of and trying out full code examples are not practical: unsafe as we are asked to run untrusted code, and time consuming, and many of us don't even know Dart or Fultter.

If you can isolate the issue so we

[2021-03-17 20:50] armenzg opened #24513 "Make bootstrap/develop to report errors to Sentry.io"
This will help us better understand the issues encountered by engineers.

[2021-03-17 23:31] joshuarli commented on #24238
Yeah, we could add it into options and pass it down.

Fun fact, we also use hiredis-py (hiredis wrapper), which upcoming 2.0.0 bumps their hiredis to 1.0, which supports ssl: https://github.com/redis/hiredis/blob/master/CHANGELOG.md#100---2020-08-03

So if you want hiredis-py, secure redis is gonna be blocked on that. We could either move hiredis-py out of OSS sentry, or I could look into upgradin

[2021-03-17 23:32] joshuarli commented on #24238
@BYK If I could get your +1 to move hiredis-py out of here to firstly unblock this, that would be cool.

[2021-03-18 02:26] lukesterlee opened #24525 "Ownership Rule Doesn't Show Full Path"
## Important Details

How are you running Sentry?
Flutter Sentry SDK 4.0.4

On-Premise w/ Docker, version x.y.z

Saas (sentry.io)

flutter-sentry 4.0.4

## Description

https://github.com/getsentry/sentry-dart/issues/347#issuecomment-801261035
Originally posted on sentry-dart github issue page, got re-triaged here.
We are unable to define ownership rule because the full path doesn't show up in own

[2021-03-18 07:54] myonlylonely opened #24526 "Preview jpg attachment is broken"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

JPG attachment preview as a text file, not as an image.

## Steps to Reproduce

1. Upload an event with a jpg attachment
2. Click preview button
3. it displays as a text file, not a jpg image.

Good items to include here include:

![image](https://user-images.githubusercontent.com/8188177/111591237-265eef00-8802-1

[2021-03-18 07:58] myonlylonely opened #24527 "Preview JPG attachment is broken"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

JPG attachment displays as a text file, not an image.

## Steps to Reproduce

1. Upload an event with a jpg attachment.
2. Click the preview button
3. JPG attachment displays as a text file, not an image.

![image](https://user-images.githubusercontent.com/8188177/111591616-a9804500-8802-11eb-9a12-dd5211b25dd6.png

[2021-03-18 08:29] BYK commented on #24238
Let's discuss this first and then we can make an informed decision. Thanks a lot for sharing all this information @joshuarli!

[2021-03-18 08:31] BYK commented on #24525
Ping @getsentry/workflow @logicalbomb for triage.

[2021-03-18 08:35] BYK commented on #24527
Pinging both @getsentry/workflow and @getsentry/team-webplatform (@priscilawebdev, @mitsuhiko) for triage as I don't know who owns this part.

[2021-03-18 08:38] mitsuhiko commented on #24527
Can you show how you uploaded this attachment? The viewer that is picked up is determined based on the mimetype of the attachment or a guess based on the filename if the content type header is missing. It would be very helpful to know which SDK you used and how you called it.

Additionally what would be extra helpful is to show the API call's response for the attachment listing (you should see it

[2021-03-18 09:04] myonlylonely commented on #24527
You are right. The MIME header is wrong. I am writing my own SDK.

[2021-03-18 09:04] #24527 closed

[2021-03-18 10:31] lovaiible commented on #24068
@jjbayer actually we don't run any relay configurations except the snippets in the sentry.config. We deploy the helm charts without any major changes or extra configurations.

[2021-03-18 13:02] chadwhitacre commented on #24068
@lovaiible Since we don't maintain any helm charts we can't help with that specifically. If you're able to reproduce the issue using the stock docker-compose onpremise setup let us know and we can reopen this issue. Thanks! :-)

[2021-03-18 13:02] #24068 closed

[2021-03-18 13:05] jan-auer commented on #24238
Please note that Relay also requires access to Redis and does not support SSL connections. It would require linking `libssl-dev`, which is not a build dependency. After looking into it briefly, It would be possible to link against our vendored version of `openssl`.

[2021-03-18 13:10] dscurtu commented on #24171
Unfortunately, there are temporary problems and restrictions on the Atlassian side to add app key id to whitelist (our app key example: domain.name.com.jira)
Another alternative they recommend is to add a key **internal-email-api-developermode** as the app key to the app.
Is it possible to change our descriptor from domain.name.com.jira to internal-email-api-developermode in our sentry on-premise

[2021-03-18 13:22] mtenus opened #24529 "slack.team-info.response-error occurs when I want to add slack's integration"
## Important Details

On-Premise w/ Docker, version 21.3

## Description

I want to report to you that this issue #24098 IMHO wasn't fixed. I upgraded from version 21.2 to 21.3 and the issue still occurs with an error

[code]

## Steps to Reproduce

as described here #24098]

Good items to include here include:

My event's json

[code]

### What you expected to happen

Integration with slack shoul

[2021-03-18 17:13] BYK commented on #24529
Pinging @getsentry/ecosystem and our Slack expert @MeredithAnya

[2021-03-18 17:15] BYK commented on #24529
Just read the last part "Additionally in the sentry's dashboard, I still see that it is version 21.2 🤔"

I think this is your problem. If you are using `21.3.0`, you'd see that version on your dashboard. And since this issue is resolved in `21.3.0`, it is normal that you are getting an error.

[2021-03-18 19:40] chadwhitacre commented on #24526
Dumb bot, sorry @myonlylonely.

Routing to @getsentry/workflow for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-03-18 19:53] PixelBumper opened #24543 "Google auth is currently unusable as google currently does not allow redirect uris with trailing slashes"
## Important Details

How are you running Sentry?

On-Premise with helm sentry version 21.3.0

## Description
We are running sentry On-Premise in kubernetes and are currently trying to setup google authentication.
Unfortunately google does currently not allow to configure redirect uris with trailing slashes, which unfortunately rules out configuring the redirect uri to use sentry's /auth/sso/ endp

[2021-03-18 19:56] BYK commented on #24526
This was superseded by #24527

[2021-03-18 19:56] #24526 closed

[2021-03-18 20:08] BYK commented on #24543
Hi @PixelBumper,

Is this documented anywhere? I cannot find anything anywhere on Google's docs.

[2021-03-18 20:33] PixelBumper commented on #24543
Hi @BYK,

unfortunately it seems not to be documented. In fact the only feedback I get is from the dashboard redlining the input form as soon as I append a trailing slash to the redirect uri.

It might well be that this is a bug on google's side that was introduced recently and does not affect existing configurations, as I have not found reports of other people experiencing this.

There is of cour

[2021-03-18 20:56] BYK commented on #24543
@PixelBumper sorry you had to go through all those hoops! That said it indeed sounds like a bug on Google's side as I definitely remember going through this setup myself and succeeding without any issues a while ago.

Would you mind raising this issue there as I don't think it is reasonable to reject valid URLs?

[2021-03-18 21:10] #9936 closed

[2021-03-18 23:43] robsonsobral commented on #8134
Hi!

We're using GoogleChat and to have all members of the team notified about new releases would be sooooo useful!

(Maybe this issue needs to be renamed)

[2021-03-19 00:19] samandmoore commented on #24525
(Background: I work with @lukesterlee)

If it helps, I did some sleuthing and I think the relevant code is here:

https://github.com/getsentry/sentry/blob/a855138283f7f2cd88519f3373fdb275715264e5/src/sentry/static/sentry/app/views/settings/project/projectOwnership/modal.tsx#L82

It seems like this is picking the first truthy value. I think I'd make the argument that we should flip the order to put

[2021-03-19 08:20] PixelBumper commented on #24543
@BYK We have created a new google account and could successfully add the redirect_uri there. So it localizes the Problem to our existing company account. We are currently analyzing the difference between the two setups.

Once we have found the issue we will inform you and in the case of a bug at googles side, open a bug ticket there.

So at the moment there is probably no pressing need for the goo

[2021-03-19 09:14] BYK commented on #24543
@PixelBumper thanks so much for following up! Will surely keep the issue open and will update our docs if you can figure out a workaround or a known issue around this. Thanks again for taking the time to report the issue in the first place and your collaboration.

[2021-03-19 09:29] zs-dima commented on #22782
@BYK Could I kindly ask you to provde any working solution for Flutter project then?
I do not know anyone who could confirm that webhooks works for Flutter projects - I tried many.
And I could confirm that webhooks works for .Net Core projects well on other hand.

[2021-03-19 10:42] BYK commented on #22782
@zs-dima as we've mentioned earlier, webhooks should work for all projects. There is not project-type specific code around alerting or webhooks so let's shift our focus from "webhooks do not work with Flutter" to something else.

We need a lot more information to be able to assist you:

- Are you getting the events/new issues from your Flutter project into your Sentry project?
- How are your alert

[2021-03-19 12:45] allright opened #24561 "Self-Hosted Sentry does not show SYSTEM LEVEL Debug symbols of stack trace"
## Important Details

How are you running Sentry?

Self-Hosted docker-compose up -d, version 21.2.0

## Description
System level debug symbols in stack trace are missing.

## Steps to Reproduce

1. Run centry
2. Make some crashes
3. ...

Look at the attached picture

Good items to include here include:

### What you expected to happen

Expected to be visible iOS/MacOs System level symbols.
Or plea

[2021-03-19 12:53] lucky4ever2 commented on #2836
I also had problems with the restore. With the Nightly Bulid, the restore runs with exit code 0!

[2021-03-19 13:42] mtenus commented on #24529
@BYK  You've right! I've had to install again sentry and set up a new instance. I'm not sure why updating files did not work fine 🤔

[2021-03-19 13:42] #24529 closed

[2021-03-19 14:18] allright opened #24562 "Incorrect MacOS Version for Mac Catalyst Application"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Crash on Mac Catalyst applications shows incorrectly (look at the picture attached)

## Steps to Reproduce

Just generate crash on Mac

### What you expected to happen

device.family = macOS (instead of iOS)
os = macOS 11.2.3  (instead of 14.4)

[What you think should be happening]
![image](https://user-images.git

[2021-03-19 14:38] allright opened #24564 "symbol are missing if crash occurs before dSYM has been uploaded"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Do not show symbols on production app version.

## Steps to Reproduce

1. Upload to AppStoreConnect
2. Download by TestFlight
3. Simulate Crash
4. Download dSYM by Organizer from AppStore Connect
5. Upload symbols to sentry.io
6. Look at the crash....
7. Press the search icon at the right (attached picture 1)
8. L

[2021-03-19 16:13] aheissenberger opened #24568 "API / new release / Gitlab / Invalid repository names"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Creating a new release with sentry API returned:
`Invalid repository names: groupname / repositoryname`

## Steps to Reproduce

1. create a new group in gitlab
2. Enter in Field `Group name`: `My Test Group`, enter in `Group url`: `test-group` - **Important:** uses different values for name and url!
3. klick butto

[2021-03-19 16:38] zs-dima commented on #22782
@BYK

Totally agree

Yes, as I told already

Just 1 rule: Send a notification (for all legacy integrations)
I provided sentry.io login details to Sentry support few months before already and projects samples, hope they will find time to look into.

[2021-03-19 16:57] zs-dima commented on #22782
For example here 'bb76c1eca4b14124ae0b8b2280163dd7' printed out and I could see Sentry issue with the same event value:

[code]

[2021-03-19 19:14] BYK commented on #24568
I don't fully understand the issue here but it feels like a @getsentry/ecosystem issue so routing there and pinging for triage.

[2021-03-19 19:15] BYK commented on #24564
I think you are looking for https://docs.sentry.io/product/error-monitoring/reprocessing/ ?

[2021-03-19 19:15] BYK commented on #24564
Ping @jan-auer and @getsentry/owners-ingest for triage/closure.

[2021-03-19 19:16] BYK commented on #24562
Pinging @jan-auer @bruno-garcia @getsentry/owners-native

[2021-03-19 19:17] BYK commented on #24562
Sorry, didn't mean to close. Fat fingering.

[2021-03-19 19:19] BYK commented on #24529
The version is set in the `.env` file. Maybe it is excluded or since it is a dot-file, it was missed?

[2021-03-19 19:25] BYK commented on #24561
Hi! I think this is due to Apple's own limitations and even mentioning a way to get this done may put us in a legal dispute. That said I still directed this to our @getsentry/owners-native team for an ultimate answer. Special ping to @mitsuhiko and @bruno-garcia as I think they know the best in this area.

[2021-03-19 19:30] jan-auer commented on #24562
Redirecting to @philipphofmann @getsentry/team-mobile, this is the Cocoa SDK.

[2021-03-19 19:36] jan-auer commented on #24564
@BYK Thanks, and you're right. This is an example where reprocessing is required.

@allright Sentry requires you to upload all symbols before sending crashes in. Uploading missing symbols afterwards will only have an effect on events sent after the upload. The behavior you explained in the reproduction steps is therefore expected.

You can, however, _reprocess_ existing issues with missing symbols

[2021-03-19 19:36] #24564 closed

[2021-03-19 19:46] jan-auer commented on #24561
Thanks @BYK, that is right. While we have means to collect Apple's system symbols for symbolication on our SaaS platform (sentry.io), we unfortunately cannot redistribute these files for open source installations.

For a large number of iOS releases, symbol files are available online, such as on [this repository](https://github.com/Zuikyo/iOS-System-Symbols/blob/master/collected-symbol-files.md).

[2021-03-19 19:46] #24561 closed

[2021-03-19 20:31] BYK commented on #22782
@zs-dima do you allow us to add a custom webhook that we control to your project alert to do further testing and analysis? The webhook will be on a third-party service and the contents may be readable to that service but not to the public.

[2021-03-19 20:37] zs-dima commented on #22782
@BYK Sure I will happy to do it to fix this strange issue finally.
Thanks a lot for care

[2021-03-19 20:51] chadwhitacre commented on #22782
I still haven't seen a clear bug report here, with well-defined steps to reproduce, expected result, and actual result.

Here is what I think your steps to reproduce are, @zs-dima:

### Steps to Reproduce

1. Build a flutter app with [Sentry installed](https://docs.sentry.io/platforms/flutter/). `stest.zip` above contains this (yes?).
1. Configure a webhook ... here's how I'm doing this:
    1. Ru

[2021-03-19 20:56] BYK commented on #22782
@zs-dima thanks for the consent. We have added our webhook to both of your projects so once you start triggering them, we should get some useful data for debugging.

Also if you can try to explain the issue in more detail as @chadwhitacre suggested, it would still help as the webhook debugging may not turn out to be productive.

[2021-03-19 20:59] chadwhitacre commented on #22782
@zs-dima Are you running afoul of action interval?

<img width="955" alt="Screen Shot 2021-03-19 at 4 59 07 PM" src="https://user-images.githubusercontent.com/134455/111841515-74dcbe00-88d4-11eb-9f6c-3ee47f642bfc.png">

[2021-03-19 21:01] chadwhitacre commented on #22782
@zs-dima I'm confused by your thumbs up on my comment above where I asked for clarification on your bug report. Kindly please answer these questions:

1. Are the steps to reproduce the problem accurate?
2. What is the actual result you are seeing, in detail?

[2021-03-19 21:03] zs-dima commented on #22782
@BYK I just triggered webhook as before, Event Id is '41ee8cc575d440b6bee7939d283411da'
@chadwhitacre I will prepare more details for you shortly, as I have re-setup environment back.

[2021-03-19 21:04] zs-dima commented on #22782
@chadwhitacre it is not action interval case as for the Net Core project I have the same settings and I tried to change action interval as well

[2021-03-19 21:11] zs-dima commented on #22782
![image](https://user-images.githubusercontent.com/25195453/111842562-b4290000-8910-11eb-89f5-678420cf616d.png)
and by the way - 'Test Plugin' button works well for all projects, I just retested it.

[2021-03-19 21:14] chadwhitacre commented on #22782
Thank you. Please provide as much information as you can to help us debug.

My best hypothesis at this point is that you have a misconfiguration. I find it highly unlikely that the source of the issue/event is related to the failure of the webhook, but I've been surprised before. :o)

Say more about this ... is the alert shared between the Net Core and Flutter projects? Are you triggering the aler

[2021-03-19 21:14] chadwhitacre commented on #22782
Zooming out @manuzope @BYK ... do we have an audit of integration payloads? I'm thinking of something like GitHub does with their webhooks:

<img width="905" alt="Screen Shot 2021-03-19 at 5 12 09 PM" src="https://user-images.githubusercontent.com/134455/111842711-419b2e80-88d6-11eb-82e4-0947929bcaf1.png">

Is there a possible product improvement around that to make this kind of thing easier to (s

[2021-03-19 21:18] zs-dima commented on #22782
@chadwhitacre
I triggered webhook few times but I could see nothing in the ngrok:
[code]
However 'Test Plugin' button triggering well.

[2021-03-19 21:19] manuzope commented on #22782
@chadwhitacre we have something like that for internal integrations (`Developer Settings -> Dashboard`) but not for webhooks. Internal integrations can also be used to send webhooks so we can get an audit log going if we move over to using those.

It will tell us response codes but not request/response bodies.

[2021-03-19 21:23] chadwhitacre commented on #22782
@zs-dima Why?

[2021-03-19 21:27] BYK commented on #22782
I can confirm that there is 0 activity on the webhook that we installed for our testing.

[2021-03-19 21:33] zs-dima commented on #22782
@chadwhitacre I checked all steps you provided above and everything setup as you described
ngrok result I provided above
'International integration' - behave in the same way - nothing in the ngrok log

[2021-03-19 21:34] zs-dima commented on #22782
@BYK

And you could see that projects had been setup correctly and 'Test Plugin' button triggering well

[2021-03-19 21:36] chadwhitacre commented on #22782
To confirm: this means that you do get something in the ngrok log from "Test Plugin"?

Do you get something in the ngrok log when triggering the alert from Net Core?

[2021-03-19 21:39] zs-dima commented on #22782
@chadwhitacre
Sure I receive correct webhook with all details in the ngrok and my service from "Test Plugin"
And I receive correct webhook with all details for all my Net Core Sentry projects as well
It is quite strange

[2021-03-19 21:40] chadwhitacre commented on #22782
I just sent an event, `name 'heck' is not defined`, did it arrive in your ngrok log?

[2021-03-19 21:45] zs-dima commented on #22782
@chadwhitacre I just received event but looks it is related to 'Test exception 8' I fired to test 'International integration'
however json format for this event looks a bit different

[2021-03-19 23:54] #22782 closed

[2021-03-19 23:55] zs-dima commented on #22782
@chadwhitacre @BYK @manuzope Thanks a lot for care and help, all projects work well now :)

[2021-03-20 12:08] cxspxr commented on #23937
Still no success. But sourcemaps do work in Chrome, I doubt it's webpack misconfiguration then

Not sure, tried to upload `public` path only, not stripping a prefix - the same issue.

[2021-03-20 15:34] allright commented on #24561
Thanks a lot for your detailed answers 🙏

[2021-03-21 05:55] st0012 commented on #23937
@cxspxr can you also share your `config/webpacker.yml` here? thanks

[2021-03-21 09:01] kamilogorek commented on #23937
@cxspxr can you share a link to the latest event that should but doesn't work?

[2021-03-21 13:40] cxspxr commented on #23937
@st0012

`config/webpacker.yml`
[code]

Rails: 6.0.3.5
Webpacker: 5.1

[2021-03-21 13:41] cxspxr commented on #23937
@kamilogorek
https://sentry.io/organizations/12vbiz/issues/2175965872/?environment=production&project=1356811&query=is%3Aunresolved

but virtually any on the front-end, they are all not mapped.

[2021-03-21 14:58] st0012 commented on #23937
Because in [this comment](https://github.com/getsentry/sentry/issues/23937#issuecomment-800386336) @kamilogorek mentioned that the uploaded sourcemap contains the extra `~/public` prefix that's causing the issue, I decided to reproduce the same result locally and see what could be the cause of that.

So I added webpacker to `sentry-ruby` SDK's example app in the [webpacker-example branch](https://

[2021-03-21 17:51] cxspxr commented on #23937
For now I will proceed with

[code]

Because this seems to work for now. But previous configs worked as well for some time and then they eventually failed to map the sources after some time with new releases coming.

[2021-03-22 07:59] priscilawebdev commented on #23862
I believe we can close this issue

[2021-03-22 07:59] #23862 closed

[2021-03-22 08:45] failoman23 commented on #20641
Does Sentry have On-Premise Azure DevOps Integration on a roadmap?

[2021-03-22 09:22] BYK commented on #20641
Pinging @getsentry/ecosystem for triage

[2021-03-22 10:12] PixelBumper commented on #24543
@BYK We have managed to make it work in our company account.

We have no idea why, but when we appended the slash in the google dashboard today it worked.

This is very unsatisfying, as we did not find a way to reproduce this issue.

One thing to try out when someone encounters this, would be to try to clear the browser caches and reload the page.
Other than that it seems like one can only play th

[2021-03-22 10:42] BYK commented on #24543
@PixelBumper thanks a lot for reporting back again! I'm guessing this was a bug on Google's end and then they silently fixed the issue (would explain the need to cache clearing etc).

I think we can now close this issue as I don't see anything actionable at this point, including any doc updates?

[2021-03-22 12:42] PixelBumper commented on #24543
I guess so. If it occours again we can still reopen/comment

[2021-03-22 12:42] #24543 closed

[2021-03-22 14:17] #24440 closed

[2021-03-22 16:19] manuzope commented on #23879
Can't :+1: again but just got another customer requesting this.

[2021-03-22 17:38] BYK commented on #23879
@manuzope I upvoted my own issue for that ;)

[2021-03-22 18:55] wedamija commented on #24525
Prioritising `abs_path` could make sense here, although I'd want to take some time to think it through since this will change the behaviour of these rules across the entire product. I'll bring this up with the team, not sure on the timeline for this at the moment though!

[2021-03-22 19:40] BYK commented on #21436
Pinging @getsentry/revenue for triage

[2021-03-22 19:42] BYK commented on #18729
Sorry, meant @getsentry/ecosystem and @jonesphillip for triage.

[2021-03-22 19:44] tm1000 commented on #18729
@BYK something to consider about this is that technically Atlassian is sunsetting Bitbucket Server in favor of their cloud only solution (except for datacenter). While it'd be nice to get this fixed my company is probably moving to github enterprise.

[2021-03-22 19:52] BYK commented on #18729
@tm1000 thanks for the heads up! That said "the future is the cloud" 😁

[2021-03-22 21:50] wedamija commented on #24497
@piloos How long after you ignored the issue did you try sending another event? If you send another event after a few minutes, does it successfully move it to unresolved?

[2021-03-23 02:37] manuzope commented on #24171
Hmmm, that seems like it might work but given that there isn't any public documentation, I don't feel very comfortable making that the default for our on premise users. Perhaps we could have a setting to override the default key, which could be a more general setting that would work in this case.

Did they mention when their temporary problems were expected to be resolved by any chance? I'll also

[2021-03-23 06:29] cxspxr commented on #23937
So again, config above did work for some time/some issues, some issues have been mapped, but for majority - it doesn't map
MAPPED:
https://sentry.io/organizations/12vbiz/issues/2172063029/?project=1356811&query=is%3Aunresolved
https://sentry.io/organizations/12vbiz/issues/2073891396/?project=1356811&query=is%3Aunresolved

NOT MAPPED:
https://sentry.io/organizations/12vbiz/issues/2291180045/?projec

[2021-03-23 06:30] cxspxr commented on #23937
But now files are uploaded without `public` in their path, it should work

[2021-03-23 07:36] piloos commented on #24497
@wedamija it is definitely a couple of hours for a new event to occur after the issue was ignored.  Sending a new event does not always move the issue to unresolved.

[2021-03-23 07:55] dscurtu commented on #24171
If I understand correctly - it was some internal security incident.
There are 2 options:
They wrote that to be able to our.sentry.jira app key - we must upload the app into the Atlassian Marketplace and have the app there as a private app. This will be a custom app. For this, we will need to create a vendor account and upload the app there as a private app as mentioned. The App Key will then be re

[2021-03-23 10:26] kamilogorek commented on #23937
Artifacts from your 2nd example are just broken, that's why it's not mapped. No idea why, and how your setup works, but this is the main issue.

Let's compare 2 examples.

### Working
Issue: https://sentry.io/organizations/12vbiz/issues/2291237732/?project=1356811
Release: https://sentry.io/settings/12vbiz/projects/12vbiz/source-maps/c0401df7054790c410dbc566c587ea3c4722d79b/
File: ~/packs/js/index

[2021-03-23 12:05] philipphofmann commented on #24119
The SDKs using the `user-agent` put  `iOS`, `tvOS`, `watchOS` or `Mac OS X` into the header with some other info. @marandaneto do you know if we can check if the header contains these?

[2021-03-23 14:22] markstory commented on #21436
Spike protection doesn't use the previous month's data. Instead it uses `maximum(20, 6 x average error events per minute over the last 24 hours)` [docs source](https://docs.sentry.io/product/accounts/quotas/#spike-protection). Is your project hitting these kinds of thresholds where there are sizable lulls and then periods of much higher activity?

[2021-03-23 15:30] cawel opened #24637 "No 'Access-Control-Allow-Origin' header on "envelope" API call responses"
## Important Details

How are you running Sentry?

Self-hosted.
Aptible docker image: sentry:8.7-onbuild

## Description

The errors appear in my Sentry project (on sentry.my-domain.com), reaching Sentry with a "store" API call like this one:

https://sentry.my-domain.com/api/10/store/?sentry_key=XXXXXXXXXX&sentry_version=7

However, the "envelope" API calls like this one are blocked by the browse

[2021-03-23 16:03] krasnoperov opened #24639 "TypeError: create_alert_rule() missing 1 required positional argument: 'owner'"
### Version Information

Version: Sentry 21.3.0 96d5172

### Steps to Reproduce

1. Download new sentry from https://github.com/getsentry/onpremise/archive/21.3.0.tar.gz
2. Configure, install with `./install.sh --no-user-prompt`, run `docker-compose up -d`
3. Create  new project.
2. Try to create new metrics alert https://sentry.terra.songsterr.com/organizations/sentry/alerts/draw/new/?referrer=al

[2021-03-23 17:48] caseyduquettesc commented on #23161
I am on 20.12.1 and after yesterday's android webview crashes it became apparent that the project rate limits (which I expected not to work w/ relay) and the system rate limits no longer apply. I had a 5K system rate limit, which I reduced to 1K, but 200/s are still being accepted. I've had to resort to disabling offending project keys in order to restrict the number of events entering ingestion.

[2021-03-23 18:24] BYK commented on #24639
This was fixed in #24458.

You can use the latest nightlies until we release 21.3.1 with the patch included. Thanks a lot for bringing this up!

/cc @iProgramStuff @chadwhitacre

[2021-03-23 18:24] #24639 closed

[2021-03-23 18:25] BYK commented on #24637
Pinging @getsentry/owners-ingest for triage

[2021-03-23 18:32] BYK commented on #24637
@cawel you selected you are using sentry.io but you mention a custom domain. Are you using self-hosted Sentry?

[2021-03-23 18:33] BYK commented on #24637
Also, are you able to share a full request log complete with request and response headers? (these headers are the most important piece actually, you can crop out the response and request bodies)

[2021-03-23 19:08] cawel commented on #24637
I've just learned I'm actually using a self-hosted Sentry, sorry for the confusion. I've updated the issue description.

[2021-03-23 19:14] BYK commented on #24637
Wow, that's like extremely old. I don't think the envelope endpoint will ever work there. You need to bring your Sentry back to the future or use an older version of the SDK

[2021-03-23 19:15] BYK commented on #24637
Closing as this is no actionable on our side. Let us know if we can assist you with an upgrade (or a migration to sentry.io 😉 😁 )

[2021-03-23 19:15] #24637 closed

[2021-03-23 19:32] cawel commented on #24637
@BYK Thanks for your feedback. That explains the issue. We'll have to upgrade Sentry then!

[2021-03-23 19:58] cawel commented on #24637
For those bumping into the same issue as I have, downgrading the SDK to the latest of version 5 (which is 5.30.0 at the time of writing) fixed my issue – no more "envelope" API calls. When I had the issue I was using @sentry/browser@6.2.3 .

[2021-03-24 10:05] priscilawebdev commented on #21247
@alexbjorlig After some research, I also concluded that the latest version of the edge legacy is `18.x` .  We updated our code to display the correct Internet Explorer Edge logo. Done in this PR : https://github.com/getsentry/sentry/pull/24663

[2021-03-24 10:54] #21247 closed

[2021-03-24 14:28] evanh opened #24671 "ref: gha Allow file filtering on mypy.ini files"
## Summary

I added a GHA to run mypy against the Sentry code base. In the mypy.ini config file, we specify a white list of files for mypy to check. It would be great if we could filter the action to only run when those files are changed. However I don't want to have to maintain the list in two separate places, so ideally the GHA would get the file names from the mypy.ini file itself.

## Motivati

[2021-03-24 16:20] jmsg4 opened #24676 "Slack Integration Problem: Unable to Assign, Ignore, or Resolve Issues from Slack"
## Important Details
Setup the Slack Sentry Global Integration following the guide:
- https://develop.sentry.dev/integrations/slack/

Configured integration with our Slack workspace and Sentry project using the following guide:
- https://docs.sentry.io/product/integrations/slack/

Slack notifications do not trigger actions on Issues in Sentry. Unable to Assign, Ignore, or Resolve Issues from Slack

[2021-03-24 16:24] manuzope commented on #18729
Looks like this is happening because the `changes.[].toHash` is 0*40. Here's what a sample webhook payload looks like in these cases:
[code]
The `type`, from the samples I've seen, is always `DELETE`. I don't know what that means and the [Bitbucket documentation](https://confluence.atlassian.com/bitbucketserver/event-payload-938025882.html) doesn't say much. If anyone else knows about why the `toH

[2021-03-24 19:43] AndrewMoyse opened #24684 "GitHub Enterprise Issue pop-up only shows 30 Assignees"
I recently tried to click the "Link GitHub Enterprise Issue" on a test Issue and it only shows 30 employees from the Assignee drop-down. It looks to me because it is not processing paginated response bodies from GHE/GitHub so it's truncating the returned list.

The GHE/GH client uses the regular get method:
https://github.com/getsentry/sentry/blob/11fbfdec330994cd70d9bac43c9d5a12f4c27ddb/src/sentr

[2021-03-24 19:43] #24684 closed

[2021-03-24 19:51] AndrewMoyse opened #24685 "GitHub Enterprise Issue pop-up only shows 30 Assignees"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.2.0.dev0 ca466fb

## Description

I recently tried to click the "Link GitHub Enterprise Issue" on a test Issue and it only shows 30 employees from the Assignee drop-down. It looks to me because it is not processing paginated response bodies from GHE/GitHub so it's truncating the returned list.

## Steps to Reproduc

[2021-03-24 20:20] BYK commented on #24685
Pinging @getsentry/ecosystem for triage

[2021-03-24 21:12] manuzope commented on #24685
Thanks for finding this, @AndrewMoyse! Definitely a bug. Ideally, we still load up n (n=30 or whatever) but do some sort of query parameter lookup based on what is typed by hitting GitHub's API. Will add it to our backlog and try to address it in the next few weeks.

[2021-03-25 13:39] armenzg opened #24704 "Errors reported via direnv/.envrc can be grouped incorrectly"
For instance, [this error](https://sentry.io/organizations/sentry/issues/2281830537/events/42cf766029be4d0a8de9a16995465069/?project=1492057) is grouped as "Checking node..." because we're using what was the last call to `info()`. This is an improvement over using the generic `BashError`, however, we can do better.

The call to `make node-version-check` failed with `Unexpected node version. Recomm

[2021-03-26 09:55] nilpntr opened #24731 "Duplicate environments"
## Important Details

How are you running Sentry?
I'm running sentry on Kubernetes with the following [helm chart](https://github.com/sentry-kubernetes/charts/tree/develop/sentry)

On-Premise w/ K8S, version 20.11.1

## Description

I got like 120k environments and like 99% is a duplicate of each other:
![Screenshot_2021-03-26_at_08 08 20](https://user-images.githubusercontent.com/53516395/1126144

[2021-03-26 10:24] BYK commented on #24731
Ping @getsentry/visibility (@mitsuhiko Visibility is the right thing for this, right?)

[2021-03-26 11:52] dashed commented on #24731
@BYK Should be @getsentry/workflow .

[2021-03-26 14:10] nie7321 opened #24736 "Laravel setup docs need updating for Laravel 8.x"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description
Laravel 8 changed how [exception handlers are registered](https://laravel.com/docs/8.x/errors#reporting-exceptions). The Sentry setup docs should reflect this.

## Steps to Reproduce
1. Go to the [Laravel setup docs](https://sentry.io/northwestern-it/competitive-applications/getting-started/php-laravel/)

### What y

[2021-03-26 14:26] BYK commented on #24736
Ping @kamilogorek @HazAT not sure if @getsentry/team-webplatform is the best team here but couldn't find any other relevant team.

[2021-03-26 14:29] BYK commented on #24731
Ping @getsentry/workflow for triage

[2021-03-26 16:52] jmsg4 commented on #24676
This was an issue with our configuration. Missing "/" at the end of `/extensions/slack/action/` endpoint in bot setup in Slack

[2021-03-26 16:52] #24676 closed

[2021-03-26 21:53] markstory commented on #24731
How can someone reproduce this problem?

[2021-03-27 08:48] nilpntr commented on #24731
I don't think you can reproduce it 😅

[2021-03-29 07:41] BYK commented on #24731
@nilpntr can you at least provide more details about how you use Sentry as otherwise this issue is not actionable.

[2021-03-29 08:18] nilpntr commented on #24731
I'm currently investigating this thing will get back on you with some more information

[2021-03-29 08:45] priscilawebdev commented on #9150
fixed in this PR https://github.com/getsentry/sentry/pull/24775 😉

[2021-03-29 08:45] #9150 closed

[2021-03-29 09:21] nilpntr commented on #24731
It currently looks like it's creating a record in `sentry_environmentproject` for every issue. Currently there are 479523 records in that table.

[2021-03-29 09:28] xvilo commented on #24731
We're also experiencing this issue. It makes the UI very slow. We're running a bit outdated version (20.11.1), I asked if this can be upgraded. @nilpntr are you on a newer version?

@BYK what debug details do you want to have exactly? (So I can ask at the right department) I'm just a consumer of our self-hosted instance and from that point of view we 'just' use the SDK and add new events to the se

[2021-03-29 13:47] SteffeyDev commented on #20641
It is probably worth pointing out that "Azure Server" is not an actual product AFAIK, and abbreviating "Azure DevOps Server" to just "Azure" is very confusing as Azure is a cloud service provider, which is an entirely separate product and composed of hundreds of services, including DevOps Services (but not DevOps Server). If you must abbreviate, I recommend just "DevOps Server" or "TFS Server", as

[2021-03-29 18:16] scttcper commented on #24731
@nilpntr you might be missing some unique indexes on your tables. For example here is `sentry_environmentproject` which should be unique on project_id and environment_id. sentry_environment should also have a unique index on organization_id and name.

[code]

[2021-03-29 18:17] nilpntr commented on #24731
Thanks will look into this tomorrow :)

[2021-03-29 18:50] WhyNotHugo opened #24794 "Sentry claims my browser does not support security keys"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Attempting to log in on iPad or iOS shows me an error that says:

However, my key works fine on this browser. I even just used it to log into GitHub. It’s the same yubikey I use for Sentry.

## Steps to Reproduce

1. Set up a Yubikey on your account.
2. Log in via an iOS device.

### What you expected to happen

S

[2021-03-29 18:56] onemindatime opened #24795 "Not able to create Issue Alert Rule to use dynamic slack channel_name"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Hello there, We just started using Sentry at our company and are evaluating if it is a viable option for all of our products. We have many teams that owns different applications. We would like to setup the Sentry Alerts in a way that each team can control which slack channel they want to get the notifications when

[2021-03-29 19:14] BYK commented on #24795
Ping @getsentry/ecosystem for triage. Also ping @getsentry/workflow in case this falls under their umbrella.

[2021-03-29 19:14] BYK commented on #24794
Ping @getsentry/enterprise and @getsentry/security for triage

[2021-03-29 21:53] onemindatime commented on #24795
Thanks @BYK Could you pls tell me how/where do I ping the sentry teams? is it just in github, slack,..?

[2021-03-29 22:16] wedamija commented on #24795
@onemindatime Sorry, at the moment we don't support dynamic channel names based on tags with our slack integration. What you can do instead is set up a rule for each team that checks for the specific tags in the filter, and then has the team's slack channel hardcoded in the action.

I don't think we have any plans to add this in the near future - I'll leave it to @getsentry/ecosystem to comment on

[2021-03-30 01:37] SerenModz21 opened #24815 "Receiving "An unknown error occoured.""
Hello, I am trying to activate my [Education Pack](https://sentry.io/for/education/) receiving it from my [GitHub Student Developer Pack](https://education.github.com/?utm_source=github+sentry) but every time I press "Activate Plan", I get a message saying "An unknown error occurred.".

The activate plan page:
![image](https://user-images.githubusercontent.com/41450647/112920130-42b33380-9100-11eb

[2021-03-30 01:37] #24815 closed

[2021-03-30 01:42] SerenModz21 opened #24816 "Receiving "An unknown error occoured." error"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Hello, I am trying to activate my [Education Pack](https://sentry.io/for/education/) receiving it from my [GitHub Student Developer Pack](https://education.github.com/?utm_source=github+sentry) but every time I press *"Activate Plan"*, I get a message saying *"An unknown error occurred."*.

The activate plan page:

[2021-03-30 04:46] MeredithAnya commented on #24795
Yeah I don't see this being on our roadmap anytime soon, and not sure we'd be able to do this since I don't see a great way for us to be able to verify permissions for the channels without saving them first.  Maybe @jonesphillip or @manuzope can speak to this more.

[2021-03-30 09:09] nilpntr commented on #24731
This is my schema @scttcper
[code]

[2021-03-30 09:27] BYK commented on #24795
@onemindatime

Sorry for the confusion, my message was to ping them (the @ mentions pings the teams) 🙂

[2021-03-30 09:29] BYK commented on #24816
Pinging @getsentry/enterprise as I think this falls under there. Pinging @EvanPurkhiser as I think he fixed something around this some time ago.

[2021-03-30 12:37] vishwasnavadak opened #24821 "AWS Lambda Problem"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.3.096d5172

## Description

Clicking on `Go to AWS` button on AWS Integration page goes to TemplateURL missing error.

![image](https://user-images.githubusercontent.com/13111030/112988980-13450b00-9182-11eb-8c86-1fea374bcd08.png)
![image](https://user-images.githubusercontent.com/13111030/112989023-1a6c1900-9182-1

[2021-03-30 15:36] BYK commented on #24821
Pinging @getsentry/ecosystem for triage

[2021-03-30 17:15] armenzg opened #24828 "Catch in CI if a migration does not match the lock file"
We recently had two migrations (#24749 and #24762) land around the same time with the same ID. Unfortunately, the 2nd one had not updated the lock file, thus, there was no merge conflict (even though there was a CI failure on master that was missed).

We should be able to catch this on CI.

From Dan:

EDIT: Updated links to PRs

[2021-03-30 18:53] onemindatime commented on #24795
Thanks @wedamija  @MeredithAnya @BYK
@wedamija That's pretty much what I am doing right now. Unfortunately it doesn't scale well if we have to constantly add new packages/teams to our org.

@MeredithAnya I also agree with issues around checking for permissions. But I was wondering if that could be a user option to agree that the channel existence/permissions will be evaluated at runtime (or not at

[2021-03-30 21:09] joshuarli commented on #24351
Yeah, ideally you'll want to install wheel in `install-py-dev` or similar.

[2021-03-30 21:10] joshuarli commented on #24351
This used to not be an issue but I don't feel like understanding exactly why/where, just make sure it's installed so we don't have to worry about stuff like this ever again.

[2021-04-01 05:07] nEdAy commented on #24363
It is expected that JIRA Server can be modified to have the functions of JIRA, especially "Automatically create JIRA tickets based on Issue Alert conditions."

[2021-04-01 05:18] nEdAy opened #24894 "Expected new feature for JIRA Server: "Automatically create JIRA tickets based on Issue Alert conditions.""
It is expected that JIRA Server can be modified to have the functions of JIRA, especially "Automatically create JIRA tickets based on Issue Alert conditions."

The company's JIRA is for server, not SaaS, so I can only install JIRA Server plug-in, not JIRA plug-in.

But we expect to use the "Automatically create JIRA tickets based on Issue Alert conditions" feature.

Is there any way or plan to imp

[2021-04-01 05:18] #24894 closed

[2021-04-01 05:54] nEdAy opened #24895 "Expected new feature for JIRA Server: "Automatically create JIRA tickets based on Issue Alert conditions.""
## Summary

It is expected that JIRA Server can be modified to have the functions of JIRA, especially "Automatically create JIRA tickets based on Issue Alert conditions."

## Motivation

The company's JIRA is for server, not SaaS, so I can only install JIRA Server plug-in, not JIRA plug-in.

But we expect to use the "Automatically create JIRA tickets based on Issue Alert conditions" feature.

## A

[2021-04-01 08:43] BYK commented on #24895
Duplicate of #24363.

@nEdAy - please refrain from double posting in the future.

[2021-04-01 08:43] #24895 closed

[2021-04-01 17:55] leedongwei commented on #24794
Hi @WhyNotHugo

Thanks for the report! Apologies for the bug, I'll prioritize this and I will update here as soon as I have a fix.

[2021-04-01 19:40] EvanPurkhiser commented on #24816
Hi there @SerenModz21,

I see the error but I can't say what the issue here is. I've added some more context to the error to better understand the problem.

When you have a chance could you give it another go? It's unfortunately a little hard to test this without actually being part of GitHubs student program :)

[2021-04-01 21:01] chadwhitacre commented on #24472
Sounds like this is a "won't fix," sorry @omidraha. 😞

@untitaker Any chance you could dig up a link (my search attempts are either [too broad](https://github.com/getsentry/sentry/issues?q=is%3Aissue+delete+event) or [too narrow](https://github.com/getsentry/sentry/issues?q=is%3Aissue+deleting+transactions) 🐭), or provide additional rationale as to why we don't want to implement this?

E.g., this

[2021-04-01 21:02] chadwhitacre commented on #24568
Bump @manuzope, any thoughts?

[2021-04-01 21:03] #19632 closed

[2021-04-01 21:09] omidraha commented on #24472
OK,
Is it possible to give a raw SQL query command to delete such events of issue from db manually?

[2021-04-01 21:26] chadwhitacre commented on #24472
Binary answer? Yes. 😬

If you figure something out maybe share it here for the next self-hoster who has the same problem?

[2021-04-01 21:28] SerenModz21 commented on #24816
I will give it a try now

[2021-04-01 21:29] chadwhitacre commented on #20336
Adding to the backlog on the strength of https://github.com/getsentry/sentry/issues/20336#issuecomment-791460354. Sound right @priscilawebdev?

[2021-04-01 21:30] SerenModz21 commented on #24816
Sadly, I still get that error

[2021-04-02 07:44] EvanPurkhiser commented on #24816
Sorry I should have been more clear :)

I added some additional error context capturing for this particular problem, I haven't actually resolved it yet, but it's hard for me to test since I don't actually have a GitHub student account! For whatever reason your github organization slug isn't being passed along with the activation request.

Are you changing the default selected org with the dropdown

[2021-04-02 08:05] untitaker commented on #24472
This is the reference for why this is costly to implement: https://blog.sentry.io/2019/10/25/how-to-mutate-data-in-a-system-designed-for-immutable-data

[2021-04-02 08:49] BYK commented on #24472
Closing the issue to signal our intent: we don't see this happening any time soon if ever. Thanks a lot for bringing it up and sorry that we won't be working on this.

[2021-04-02 08:49] #24472 closed

[2021-04-02 08:57] untitaker commented on #24472
@omidraha generally speaking you can re-insert a row into clickhouse with `deleted` changed to `1`, then Clickhouse will *eventually* replace the old row with the new one which will be *eventually* excluded from query results. In the meantime you will see inconsistent data. You can remove/null out almost all data from the newly row, just make sure the primary key stays intact and deleted=1.

[2021-04-02 11:10] untitaker commented on #24472
@omidraha to be honest I still have a hard time understanding the usecase. It seems to me you have one, very long-standing issue which really contains multiple issues you want to triage. So for example in January you get a bunch of events that you then fix, then you close the issue, then in July you get a bunch of other events but the root cause is different and it's a separate bugfix. Is that acc

[2021-04-02 11:11] spidey opened #24923 "Merging issues return "Unable to merge events. Please try again." message"
## Important Details

How are you running Sentry?
On-Premise w/ Docker, version 9.1.2

## Description

Trying to merge 2 issues I get the generic "Unable to merge events. Please try again." popup message on the bottom right of the screen. Even if I try again it never succeeds. I'd like to get more info on what is wrong. Ultimately I noticed that I was merging a Resolved and an Unresolved issue, an

[2021-04-02 11:54] BYK commented on #24923
Thanks for reporting! This seems to be fixed in the latest version of Sentry so closing.

[2021-04-02 11:54] #24923 closed

[2021-04-02 13:46] chadwhitacre commented on #24472
Found it! https://github.com/getsentry/sentry/issues/24472 :-)

[2021-04-02 13:47] chadwhitacre commented on #24472
Found it! https://github.com/getsentry/onpremise/issues/856 :-)

[2021-04-02 16:56] saschanos opened #24928 "e['events.dropped'][s] is undefined"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.3.0

## Description

Opening Sentry Admin (/manage/) throws an error.

## Steps to Reproduce

1. Open /manage/ after login
2. Error message is shown (-> error is thrown as internal event)

<img width="1354" alt="Bildschirmfoto 2021-04-02 um 18 55 20" src="https://user-images.githubusercontent.com/4348851/113436470-

[2021-04-02 17:21] jandersen-plaid commented on #24363
👍 great to hear! I can get started on this today then (sorry for the long delay!)

[2021-04-02 20:44] jonesphillip commented on #24795
@onemindatime this is an interesting use case. We are planning to work on letting users define team based notification channels. That way when an issue is [owned](https://docs.sentry.io/product/issues/issue-owners/) or assigned to a certain team/person we'll be able to route the alerts accordingly. Does that sound like something you'd be interested in? If so we can keep you up to date.

[2021-04-03 01:08] jasikpark commented on #24323
Is there any more information I can provide / an update on this? I haven't had any problems anymore, but I'm curious.

[2021-04-03 01:12] etergen opened #24947 "POSTing to relay gets blocked by content blockers"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

Reporting to sentry.io gets blocked by content blockers. As suggested in #23054, I deployed [relay](https://docs.sentry.io/product/relay/), which doesn't really solve the issue either.

## Steps to Reproduce

1. Deploy relay
2. Use updated DSN in web app
3. Trigger an error in the browser
4. `POST` gets blocked

Sa

[2021-04-03 02:12] SerenModz21 commented on #24816
Yes. I change it from "KyeKillerBot" to "TDA" as I don't want to activate it on the "KyeKillerBot" org
![image](https://user-images.githubusercontent.com/41450647/113465244-75279e00-942a-11eb-9e67-758f27d53682.png)

[2021-04-03 14:07] ErMaqui opened #24949 "Gitlab integration not working"
## Important Details

How are you running Sentry?
On-Premise w/ Docker, version 21.1.0.dev0c3eba3c

## Description

Gitlab integration not working

## Steps to Reproduce

I've enabled gitlab integration. but they isn't getting any new releases.

[code]

On my "releases" page, I only view two releases (the ones with bugs reported). On gitlab, I have many more (and more recents than the configuratio

[2021-04-03 22:25] maxkachalin commented on #22715
Any updates on this?

[2021-04-04 07:47] catcosmicice opened #24954 "Issue with Sentry's Dark Theme"
### Version Information

Version: 21.4.0.dev0

### Steps to Reproduce

1. Switch to Dark Theme in user settings.

### Expected Result

Dark theme to work perfectly.

### Actual Result

It looks like the theme has some issues, for example, in the Admin Settings UI, the navbar's background color is in white, which makes it harder to read. I have noticed this in some other pages as well.

https://use

[2021-04-05 09:17] BYK commented on #24954
Pinging @getsentry/app-frontend (@billyvg and @priscilawebdev specifically) for triage

[2021-04-05 09:18] BYK commented on #22715
@maxkachalin it is on our backlog, just didn't have time to get to it yet.

[2021-04-05 09:23] BYK commented on #24949
Pinging @getsentry/ecosystem for triage. That said it feels like we'd need a bit more information around how you set-up this information and whether there are any error messages in logs etc to make any progress on this issue.

[2021-04-05 09:25] BYK commented on #24947
Pinging @getsentry/owners-ingest for triage. (special ping to @untitaker and @jan-auer)

[2021-04-05 09:27] BYK commented on #24323
@getsentry/enterprise ping for triage (@leedongwei ?)

[2021-04-05 09:35] BYK commented on #24928
Thanks for reporting, will check this today.

[2021-04-05 12:55] maxkachalin commented on #22715
@BYK, I see, thank you very much in advance.

I've been tangled by the bot which closed issue due to inactivity.

[2021-04-05 16:06] stoefln opened #24959 "Source code was not found"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

I used the sentry webpack plugin to upload sources. Since I used a different release key for upload, it seems that sentry had issues with linking the stacktraces with my source maps. Now I deleted all the source maps and uploaded again, using the original release param. However: The web interface still shows "Sourc

[2021-04-05 16:33] billyvg commented on #24954
These issues are addressed in https://github.com/getsentry/sentry/pull/24595 if someone could take over that PR and get it merged.

[2021-04-05 20:53] manuzope commented on #24568
Ah, I see why this is happening. When we save a repository integration, we save the name (for gitlab, this is `My Test Group / test-repository`). Then, when you call the API, we find repositories based on the name: https://github.com/getsentry/sentry/blob/master/src/sentry/models/release.py#L399-L406.

So, when you provide `test-group / test-repository`, it is unable to match cause it expects `My

[2021-04-06 01:19] #20786 closed

[2021-04-06 09:05] untitaker commented on #24947
EasyPrivacy has a filter that matches any subdomain `sentry.*`. Here: https://easylist.to/easylist/easyprivacy.txt

This is always going to be a cat-and-mouse game but I guess the next step in it would be to choose a different subdomain. I suggest [Santry](https://twitter.com/getsantry)

[2021-04-06 13:42] chadwhitacre commented on #24959
Thanks @stoefln, routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-06 14:16] ChrisBAshton opened #24995 "Feature request: allow GitHub Integration between one GitHub org and multiple Sentry orgs"
## Summary

The [GitHub Integration](https://docs.sentry.io/product/integrations/github/) only allows one Sentry organisation to connect to a GitHub organisation. It should be possible for multiple Sentry organisations to connect to the same GitHub organisation.

## Motivation

I work for an organisation that has multiple departments. Each department manages its own Sentry organisation independent

[2021-04-06 16:16] armenzg commented on #24513
This got accomplished via:
https://github.com/getsentry/sentry/pull/24540
https://github.com/getsentry/sentry/pull/24532

[2021-04-06 16:16] #24513 closed

[2021-04-06 16:51] BYK commented on #24995
Pinging @getsentry/ecosystem for triage

[2021-04-06 21:03] #23583 closed

[2021-04-06 23:29] MeredithAnya commented on #24995
@ChrisBAshton unless GitHub has changed how their GitHub Apps work, you can only install a GitHub App once per GH organization or GH user account.

As you might have experienced, when you attempt to install the GitHub integration from a different Sentry organization it will you show on GitHub that it is already 'configured'.

It is technically possible on our end to share an integration across Sen

[2021-04-06 23:54] etergen commented on #24947
@untitaker thanks for the tip. I've changed the subdomain where I deployed sentry and it works now 👍

While tempting, I went for something less fancy 😄

[2021-04-06 23:54] #24947 closed

[2021-04-07 08:21] Shafayet-LMI opened #25025 "Add 'resolved/ignored' field in Splunk Data"
## Summary

The Splunk integration currently forwards data or events. However, the information regarding whether the corresponding issue has been marked resolved or ignored is absent.

## Motivation

Filter out resolved or ignored issues in Splunk reports and dashboards.

## Additional Context

Splunk

[2021-04-07 09:04] Shafayet-LMI commented on #25025
Even better, if ignored and resolved issues are NOT forwarded to Splunk to begin with.

[2021-04-07 09:31] MurzNN commented on #21468
This feature is very necessary! For example, for E-commerce site:

Load time of some product webpage as 300 msec is good.

But for transaction, that submits the new order from cart with many products, 300 msec is too few! This transaction makes a lot of write processes, so Apdex must be about 2000 msec or even more...

So, we need the way to set separate Apdex values for some transaction groups, t

[2021-04-07 11:02] ChrisBAshton commented on #24995
@MeredithAnya thank you for the fast triage and detailed comments. That does seem a bit of an insurmountable problem!

I'm pleased we've been able to document the pain points around the problem and the proposed solution.

It seems to me that there's little value in keeping this issue open, as it's unactionable. However, as noted in the feature request, one of the main barriers to us consolidating

[2021-04-07 11:16] BYK commented on #24995
@ChrisBAshton

Yes, please file a new issue as a feature request so we can route it to the appropriate team and track it properly there.

Closing this issue as you suggested since it is not actionable for the foreseeable future.

Thanks a lot for sharing your thoughts and needs with us to help make Sentry better for everyone!

[2021-04-07 11:16] #24995 closed

[2021-04-07 11:33] BYK commented on #20336
@jonathan-wondereur - as @markstory mentioned earlier, we have shipped a potential fix for this. Is this still an issue for you? If it is we may explore your suggestion for a new tab/popup. Thanks a lot for reporting!

[2021-04-07 12:20] chadwhitacre commented on #25025
Thanks @Shafayet-LMI, routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-07 12:44] Louis-T commented on #24497
Hi, I noticed the same problem with a self hosted instance of sentry (version 21.3.0) after ignoring an issue _until this occurs again one time from now_.

After occurring one time, the issue was "unignored" (meaning it wasn't ignored in the issue detailed page, and it wasn't muted either) but it did not show with the _is:unresolved_ filter.

Another error was triggered ~4min after the "ignore unt

[2021-04-07 13:15] markstory commented on #20336
I'm not confident that a popup window is a robust approach. Most browsers block popup windows that aren't directly created by a user action. The feedback window would fall into this bucket and likely be blocked requiring the user to also approve the popup.

[2021-04-07 13:49] jonathan-wondereur commented on #20336
Ya, you are 100% right @markstory

[2021-04-07 15:08] urusha opened #25030 "Switching organization requires entering password if the user is superuser"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.3.0

## Description

Switching organization in UI requires entering password if the user is superuser, while no password is required for normal user.

## Steps to Reproduce

1. Be superuser.
2. Login to sentry (sentry.domain/organizations/org1).
3. Wait until Admin page (/manage/) start to require password. Do not

[2021-04-07 17:29] ChrisBAshton opened #25037 "Feature request: add option to rate-limit per team"
## Summary

Sentry offers two kinds of global rate limiting:

- Account limit: "The maximum number of events to accept across this entire organization" - N errors per hour
- Per-Project limit: "The maximum percentage of the account limit (set above) that an individual project can consume." (Minimum 50%)

We would like Sentry to offer a third kind of rate limiting:

- **Per-Team limit: "The maximum

[2021-04-07 17:29] ChrisBAshton commented on #24995
Thanks @BYK - I've now raised #25037.

[2021-04-07 17:33] onemindatime commented on #24795
Thanks @jonesphillip. Yes, that sounds like a great feature. It would help redirect the notifications to appropriate channels provided we create those rules first. But our main problem is Scale. If we are adding more packages/modules over time, we will have to continue add to new Ownership rules and keep tweaking it when we need to change channels for example. We would like to just setup a base ru

[2021-04-07 17:39] BYK commented on #24821
Ping @getsentry/growth for triage :)

[2021-04-07 17:39] armenzg commented on #23464
This got done (minus tracking all versions of all binaries on a developer's machine):
https://github.com/getsentry/sentry/commit/03676e43e21aabcf0fe470d5d433e27f6a228486
https://github.com/getsentry/sentry/commit/4f5c640b07caafe665bd1719315b0823613157db
https://github.com/getsentry/sentry/commit/afd46356c7ec55d8359b40ec0ebc0c26e601dca2
https://github.com/getsentry/sentry/commit/b964314b351fde4bd6a

[2021-04-07 17:39] #23464 closed

[2021-04-07 18:26] chadwhitacre commented on #25037
Thanks for the suggestion, @ChrisBAshton! Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-07 21:03] manuzope commented on #24949
Hi @ErMaqui, for the Gitlab integration to work, Sentry needs to be told when a new release happens. Want to confirm - are you using sentry-cli or something similar to tell Sentry when a release happens (usually done as a part of your CD pipeline)? The integration can then go to your Gitlab and fetch the commits.

But either way, you should be able to see the issue link functionality on the [right

[2021-04-08 06:58] jan-auer commented on #25037
Thanks, this is best asked to @getsentry/enterprise or @getsentry/revenue.

[2021-04-08 09:36] #24954 closed

[2021-04-08 11:49] reddeiahc opened #25119 "GitLab Integration Problem"
## Important Details
can we integrate self hosted sentry with git-lab for free?

How are you running Sentry?

On-Premise w/ Docker, version x.y.z

Saas (sentry.io)

Other, version x.y.z, [briefly describe your environment]

## Description

[What happened]

## Steps to Reproduce

1. [First Step]
2. [Second Step]
3. and so on.

Good items to include here include:

- Include a stacktrace or other log

[2021-04-08 12:55] #25119 closed

[2021-04-08 14:43] BYK commented on #21133
@drook @alex is this still an issue?

[2021-04-08 14:46] danrods commented on #18959
Having the same issue here. Any update or workaround for this?

[2021-04-08 14:48] benabineri commented on #21133
We still see this (but we're on 20.6.0 still)

[2021-04-08 14:51] BYK commented on #21133
@benabineri is it possible for you to upgrade to 21.2.0 or 21.3.0 and see if it gets fixed?

[2021-04-08 15:30] benabineri commented on #21133
Yes, we plan to upgrade soon, I'll let you know whether this is fixed :)

[2021-04-08 17:14] leedongwei commented on #25037
Hey @ChrisBAshton

Thanks for taking the time to share your pain points with our product.

I'm trying to understand the edge-cases for team rate-limits: (1) if a project on Sentry has 2 teams assigned to it, it will be difficult to identify the owner for an event being received by Sentry, (2) if a team is assigned to 2 projects, how should the quota be split between the projects?

For (1), keeping

[2021-04-08 17:59] chadwhitacre commented on #25030
Thanks @urusha, routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

(P.S. Sorry for the close blooper! 😊 )

[2021-04-08 19:44] scefali commented on #24821
We currently don't support AWS Lambda on self-hosted (we need docs to explain how to set it up). This is in our backlog but I'm not sure when we'll get to it.

[2021-04-08 21:03] #24357 closed

[2021-04-08 21:03] #24061 closed

[2021-04-09 03:30] vishwasnavadak commented on #24821
Thanks for letting me know!

I was hoping this could have been mentioned somewhere before I struggled to set it up.

[2021-04-09 07:16] tonydehnke commented on #23937
Is there a Sentry implementation specialist that we can hire to help resolve this?

[2021-04-09 07:48] ChrisBAshton commented on #25037
Thanks for the response, @leedongwei.

I've suggested three options under "Projects with multiple teams" which I think would work for (1), unless I've misunderstood. Option 1 is probably simplest - treat every event as counting towards the quota of every team that is assigned to the project. I should caveat that with I don't know how other orgs make use of Sentry multiple team assignments. In our

[2021-04-09 07:49] kamilogorek commented on #23937
@tonydehnke feel free to join our Discord https://discord.com/invite/Ww9hbqr or explain your issue in detail either here or through DM/mail and I'll see what we can do.

[2021-04-09 09:35] JoyChan0808 opened #25149 "GitHub authentication: OAuth credentials in query parameters have been deprecated"
I am using sentry 9.1.2 and running in docker.I see the issue https://github.com/getsentry/sentry/issues/17023. I try to fix the code and rebuild image.But how can i build image?What's the dockerfile?Or do you have the image(sentry 9.1.2) which fix github problem?

[2021-04-09 09:35] #25149 closed

[2021-04-09 09:38] JoyChan0808 opened #25150 "GitHub authentication: OAuth credentials in query parameters have been deprecated"
I am using sentry 9.1.2 and running in docker.I see the issue #17023. I try to fix the code and rebuild image.But how can i build image?What's the dockerfile?Or do you have the image(sentry 9.1.2) which fix github problem?

[2021-04-09 09:38] #25150 closed

[2021-04-09 09:54] #23183 closed

[2021-04-09 10:02] JoyChan0808 opened #25151 "GitHub authentication: OAuth credentials in query parameters have been deprecated"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 19.03.6

Saas (sentry.io)

Other, version x.y.z, [briefly describe your environment]

## Description

[What happened]
On March 24th, 2021 at 03:59 (UTC) your application (TS Sentry) used its `client_id` and `client_secret` (with the User-Agent sentry/9.1.2 (https://sentry.io)) as part of a set of query parameters to a

[2021-04-09 10:05] #25151 closed

[2021-04-09 10:07] JoyChan0808 opened #25152 "GitHub authentication: OAuth credentials in query parameters have been deprecated"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 19.03.6

Saas (sentry.io)

Other, version x.y.z, [briefly describe your environment]

## Description
On March 24th, 2021 at 03:59 (UTC) your application (TS Sentry) used its client_id and client_secret (with the User-Agent sentry/9.1.2 (https://sentry.io)) as part of a set of query parameters to access an endpoint thr

[2021-04-09 10:13] #25152 closed

[2021-04-09 10:16] JoyChan0808 opened #25153 "GitHub authentication: OAuth credentials in query parameters have been deprecated"
## Important Details

How are you running Sentry?

+ [x] On-Premise w/ Docker, version 19.03.6

+ [ ] Saas (sentry.io)

+ [ ] Other, version x.y.z, [briefly describe your environment]

## Description
[code]

## Steps to Reproduce

### What you expected to happen
I see the issue #17023. I try to fix the code and rebuild image.But how can i build image?What's the dockerfile?Or do you have the image(

[2021-04-09 10:30] BYK commented on #25153
We issue nightly builds from every commit on master and we do regular releases every month: https://develop.sentry.dev/self-hosted/releases/

Version 9.1 is quite old and it used a now-deprecated repo to build its Docker image: https://github.com/getsentry/docker-sentry/blob/master/9.1/Dockerfile

By the way, this is not a bug so please use [the forum](https://forum.sentry.io) for questions like t

[2021-04-09 10:30] #25153 closed

[2021-04-09 14:44] lucdewit2001 opened #25157 ""field may not be blank" error pointing to wrong field"
## Important Details

How are you running Sentry?
- Saas (sentry.io)
- firefox
- mac OS

## Description
When you create a new dashboard widget, and try to save it without a title. It will display an error but pointing to the wrong input element:

![image](https://user-images.githubusercontent.com/73638749/114197209-64a78400-9952-11eb-9bd4-58484dea8995.png)

## Steps to Reproduce
1. Go to dashboard

[2021-04-09 15:12] silent1mezzo commented on #25157
Thanks for finding this @lucdewit2001 we'll get this fixed.

[2021-04-09 17:27] chadwhitacre opened #25161 "Support U2F authentication on Mobile Safari"
## Summary

We [support U2F](https://blog.sentry.io/2016/06/22/introducing-2fa), but not on all browsers. The ask here is for Mobile Safari.

## Motivation

@robhague reports [via Twitter](https://twitter.com/robhague/status/1380429134032146432) that both Safari and Mobile Safari support U2F tokens just fine (e.g., it's possible to use a Yubikey to log in to GitHub without a hitch).

[2021-04-09 17:27] chadwhitacre commented on #25161
Routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). Thanks for the report @robhague. :-)

[2021-04-09 19:56] BYK commented on #25161
Related: #5164

[2021-04-10 04:54] tonydehnke commented on #23937
@kamilogorek - I'm a non-tech founder, so I can't really add much more than what has been shown above, unfortunately.  Hence looking for someone that has experience with it to help get things working.

[2021-04-10 23:23] Shafayet-LMI commented on #25025
hi thanks @chadwhitacre and @manuzope for routing and assigning the issue. Please let me know if I need to provide any more context. Our company uses a cloud instance of Sentry (sentry.io). We use Splunk for some statistical analysis on the Sentry issues we see in production. However the noise from resolved and ignored issues makes it difficult to have a clean report.

Based on looking at the Splu

[2021-04-11 18:48] leedongwei commented on #25161
Yep, we're aware that this is a limitation cause by the library that we are using. It'll be a good idea to revisit this soon-ish.

[2021-04-12 09:45] BYK commented on #23937
@tonydehnke you may want to look elsewhere then as GitHub issues are for reporting bug or feature requests. We cannot offer help to fix your setup or advertise this place to get help for you.

[2021-04-12 10:23] tonydehnke commented on #23937
Thanks @BYK - I understand.  If you have any thoughts on where else would be good I would appreciate any suggestions.

[2021-04-12 10:42] BYK commented on #23937
@tonydehnke - I would have said the forums but haven't seen folks getting this kind of help there much. Maybe StackOverflow or just hiring someone from those one-off contracting sites?

[2021-04-12 15:49] immohsin commented on #24333
I want to take up this issue. can I work on it as a contributor outside sentry org?

[2021-04-12 19:44] LewisTehMinerz opened #25192 "Can't add a user account via Django admin"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.4.0.dev0 7794c56

## Description

Django admin panel causes 500 when attempting to add a user account.

## Steps to Reproduce

1. Go to Django admin (/admin)
2. Click "Add" next to Users
3. The following exception occurs:

<details>
<summary>Exception</summary>

[code]

</details>

### What you expected to happen

[2021-04-12 20:11] BYK commented on #25192
We do not support Django admin for many tasks. Why do you need to create a user from this section instead of signing up a user or using the `createuser` command?

[2021-04-12 20:21] LewisTehMinerz commented on #25192
At the time the e-mail server was not set up so I could not add users through a regular sign up and the idea of sentry-cli completely slipped my mind. I couldn't find an option to add a user through the admin dashboard so I tried Django to no avail.

[2021-04-12 20:25] BYK commented on #25192
@LewisTehMinerz If `createuser` fixes your issue, I'll go ahead and close this issue but also take note that we should probably document this a bit clearer. Thoughts?

[2021-04-12 20:26] LewisTehMinerz commented on #25192
Yeah, it does. Thank you for the quick response.

[2021-04-12 20:26] #25192 closed

[2021-04-12 21:03] #18929 closed

[2021-04-12 21:40] leedongwei commented on #24323
Hello folks. Appreciate the patience and thanks for the report. I've replicated the issue.

@jasikpark I found 2 accounts with the email on your GitHub profile and one of them has been disabled.  Are you able to login now?

If there's still an issue with your account, please reach out to support@sentry.io and include the link to this page. I'll be sure to walk the support team through this.

[2021-04-12 22:02] leedongwei commented on #25030
Hi folks, thanks for the report.

This is likely the intended behavior as you are switching organization in superuser mode when the superuser session has expired. However, this is not a great user experience and we can definitely do better.

Putting it on the backlog for us to address when we work on auth.

[2021-04-12 22:17] leedongwei commented on #25037
@ChrisBAshton Ah got it. I didn't see the collapsed content earlier. Thanks for taking the time to share your thoughts.

I'm considering the user stories from our large customers, where they have many-to-many relationships between teams/projects (e.g. a product team might have access to `sentry-ios` `sentry-android` and `sentry-web` projects, and there are several product teams set up similarly)

[2021-04-13 03:17] sd4773342 opened #25209 "Jira Server Integration: Prompt authorization successful"
Prompt authorization succeeded but not installed

[2021-04-13 03:17] #25209 closed

[2021-04-13 04:03] EsmaeeilMoradi opened #25210 "Unable to fetch all project stats"
## Summary

One paragraph description of the feature.

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

## Additional Context

Any other context or screenshots or API request payload/responses that you
pertain to the feature.

[2021-04-13 04:04] #25210 closed

[2021-04-13 08:49] Lexicality opened #25215 "Support GitHub autolink references"
## Summary

This is exactly the same as #16221 however my sentry issues don't only have numbers (eg `MYAPP-8C`)

## Motivation

Sentry supports resolving Sentry issues in commits/pull requests. If you include “Fixes MYAPP-8C”, Sentry will automatically resolve the issue in the next release that includes that commit.

If clicking MYAPP-8C from GitHub could take me to the Sentry page for that issue.

[2021-04-13 08:53] BYK commented on #25215
Pinging @getsentry/workflow for triage. Also ping to @getsentry/ecosystem just in case this falls under their umbrella.

[2021-04-13 09:03] #23683 closed

[2021-04-13 09:40] BYK commented on #24171
Ping @manuzope for triage again?

[2021-04-13 09:49] mitsuhiko commented on #21087
We discussed a few times instead of making source maps be bound to releases we can bundle them independently and identify them by a separate identifier. We're doing that with debug information files already with great success. Unfortunately there is no timeline and no concrete work scheduled for this at the moment.

Making them point to a specific other release is unlikely to happen.

[2021-04-13 11:19] BYK commented on #24333
@immohsin of course!

I'd start looking into https://github.com/getsentry/sentry/tree/master/src/sentry/integrations/bitbucket

[2021-04-13 13:07] chadwhitacre commented on #21087
Title/description updated per @mitsuhiko's comment. Thanks for the report @seroy, and for bearing with us as we triaged! :)

[2021-04-13 17:33] Codelica opened #25223 "No Dashboard on fresh on-premise install"
## Important Details

How are you running Sentry?

On-Premise w/ Docker

Sentry 21.4.0.dev053c8331
Docker version 20.10.6, build 370c289
Ubuntu 20.04 fully updated

## Description

Fresh install w/ minimal config changes in sentry directory (system.secret-key, and uncomment items for NGINX https reverse proxy).  Everything seems to be functioning fine except the Dashboard is empty.  After a (very)

[2021-04-13 17:58] BYK commented on #25223
Thanks a lot for reporting, I'll be investigating this soon.

[2021-04-13 21:00] Antiarchitect commented on #23161
Seems same picture for me. Limits for one of my noisy projects do not apply.

[2021-04-13 21:07] BYK commented on #23161
@Antiarchitect, you mentioned "BTW I do not use built-in Nginx if that matters." which may be the source. We cannot speculate on why something is not working on non-standard setups (seems like you are using the k8s chart).

[2021-04-13 21:15] Antiarchitect commented on #23161
It would be nice to know where these limits actually applied. I've searched built-in nginx chart and config and didn't find any clue about sentry rate limiting.

[2021-04-13 21:30] Antiarchitect commented on #23161
Anyway I will check twice by disabling the key (seems I have now couple of hours processing log) when the project will stop receive new events completely and the old once are processed I will enable the key once again and watch if the limits are applied.

[2021-04-13 21:43] BYK commented on #23161
@Antiarchitect does this help: https://github.com/getsentry/sentry/issues/23161#issuecomment-763126097

[2021-04-13 21:44] Antiarchitect commented on #23161
Seems not as I updated limits recently. I Will update on this tomorrow

[2021-04-13 21:55] Antiarchitect commented on #23161
According to this: https://github.com/getsentry/sentry/blob/4f0048019a6f552935a371060b6759637cacfb9b/src/sentry/ratelimits/redis.py
I should have keys starting with `rl:` but
[code]

[2021-04-14 07:30] Antiarchitect commented on #22789
I have the same issue. Found out investigating this: https://github.com/getsentry/sentry/issues/23161 I've turned off DSN Key for noisy project and waiter for a couple of hours (I thought it was a big backlog for tasks to be processed) but anyway sentry events are still accepted despite of DSN is disabled.

[2021-04-14 12:14] mikevercoelen opened #25257 "Can't connect my Github to Sentry"
My Github account IS connected, but does NOT show up under configurations.

<img width="1090" alt="Screenshot 2021-04-14 at 20 13 41" src="https://user-images.githubusercontent.com/3009836/114708477-f7369180-9d5d-11eb-8c14-8d9f1aec67dc.png">

<img width="1290" alt="Screenshot 2021-04-14 at 20 12 55" src="https://user-images.githubusercontent.com/3009836/114708371-d706d280-9d5d-11eb-945e-079d32707a

[2021-04-14 12:14] #25257 closed

[2021-04-14 12:16] mikevercoelen opened #25258 "Can't connect Github to Sentry"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

My Github account IS connected to Sentry, but does NOT show up under configurations

(see screenshots)

## Steps to Reproduce

See screenshots.

### What you expected to happen

It should link correctly.

<img width="1090" alt="Screenshot 2021-04-14 at 20 13 41" src="https://user-images.githubusercontent.com/30098

[2021-04-14 14:46] manuzope commented on #25258
Hi @mikevercoelen, Github only allows you to install on one Sentry organization at a time and it looks like your Github is already linked to another Sentry organization.

So, you will need to uninstall Sentry from your Github account then re-install it on the organization you want.

Thanks for reporting the broken link! We'll get that fixed.

[2021-04-14 15:35] Antiarchitect commented on #22789
Possibly I found the solution for Sentry Helm Chart case. It appears by default relay is working in `proxy` mode. In order to change that you should first configure chart properly:
[code]
After that go to Settings -> Relay in Sentry Web interface and register the relay using its public key.

[2021-04-14 15:56] mikevercoelen commented on #25258
Is there no way to link it to both? I'm part of multiple organisations, and I can't choose between them I need to both.

[2021-04-14 16:18] Antiarchitect commented on #23161
Possibly I found the solution for Sentry Helm Chart case. It appears by default relay is working in proxy mode. In order to change that you should just configure the chart properly:

[code]
It seems it autoregister itself in a while.

[2021-04-14 16:49] manuzope commented on #25258
Unfortunately, not at the moment. Here's a more detailed explanation https://github.com/getsentry/sentry/issues/24995#issuecomment-814497909 of why this is hard.

[2021-04-14 21:34] jpl5280 opened #25276 "Asana Integration: Support specifying Asana Project for Alert"
## Summary

The Asana Integration (https://asana.com/apps/sentry) allows customers to create Asana tasks *manually* from the Sentry UI.

Example:

![image](https://user-images.githubusercontent.com/77367150/114781631-289b6700-9d36-11eb-8961-a4502336269e.png)

Ideally, customers could also use the Asana Integration in the `Alerts` functionality of Sentry:

![image](https://user-images.githubusercon

[2021-04-14 22:27] jonesphillip commented on #25025
@Shafayet-LMI Thank you for the request. Currently we only forward event level properties, not issue level properties (aside from the issue id). This isn't something we're currently planning on doing. One solution could be to create an [internal integration](https://docs.sentry.io/product/integrations/integration-platform/#internal-integrations) to forward your events. That way you could filter ou

[2021-04-15 08:09] untitaker opened #25291 "Merging origin/master into my feature branch causes almost all JS tests to run in pre-commit"
Our `sentry.lint.engine`-based hooks for running JS lints + tests are also triggered upon `git fetch && git merge origin/master` in a feature branch. This stands in contrast to our pre-commit ([the framework](https://pre-commit.com/)) -based Python hooks.

@joshuarli insinuated on Slack that moving them over to pre-commit (the framework) solves this problem. Then we could potentially delete `sentr

[2021-04-15 08:33] scorsair opened #25292 "SAMl2 wrong redirect after login"
Hello guys!

We use Sentry 21.3.1 with multi-org option. For example we have 3 orgs: one, two, three. We've configured SAML2 for org "two", but when you log in you always redirect to org "three" and we don't know why it happens. It looks logical redirect to organization where you log in.

Can anyone help us how to avoid this behavior or explain why it happens?

[2021-04-15 08:33] #25292 closed

[2021-04-15 08:35] BYK commented on #25276
Pinging @getsentry/workflow for triage. Also ping @getsentry/ecosystem as it may fall under there too.

[2021-04-15 08:40] BYK commented on #25025
Closing as this is not something we are planning to do soon per @jonesphillip's comment.

[2021-04-15 08:40] #25025 closed

[2021-04-15 10:09] mikevercoelen commented on #25258
That sucks, makes it impossible for us to use Sentry properly.

[2021-04-15 13:39] ginokhumz2020 opened #25298 "Integration not showing up in metric alerts"
### Environment

How do you use Sentry?
self-hosted/on-premise `Sentry 21.2.01dedf39`

Which SDK and version?
Django sentry-sdk==1.0.0

### Steps to Reproduce

1. Create Pushover integration
2. Create a new metric alert
3. Try add the integration to actions as an alert method

### Expected Result
To see the Pushover integration as part of the list

### Actual Result
Only email option is visible

#

[2021-04-15 13:40] #25298 closed

[2021-04-15 13:45] ginokhumz2020 opened #25299 "Integration not showing up in metric alerts"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, Sentry 21.2.01dedf39

## Description
Pushover Integration not showing up in metric alerts

## Steps to Reproduce

1. Create Pushover integration
2. Create a new metric alert
3. Try add the integration to actions as an alert method

### What you expected to happen
To see the Pushover integration as part of the list

### Screen

[2021-04-15 13:55] scorsair opened #25300 "Sentry SAML2 wrong redirect after login"
## Important Details

How are you running Sentry?
On-Premise w/ Docker, version 21.3.1

## Description

We use Sentry with multi-org feature. For example we have 3 orgs: one, two, three. We've configured SAML2 for org "two", but when you log in you always redirect to org "three" and we don't know why it happens. It looks logical redirect to organization where you log in.

Can anyone help us how to

[2021-04-15 14:05] scorsair opened #25301 "Admin panel: Event Throughput is empty/error"
## Important Details
How are you running Sentry?
On-Premise w/ Docker, version 21.3.1

## Description

"Event Throughput" metrics in admin panel don't presence. Sometimes they are empty, but sometimes it throws error.
In the other hand, we see throughput metrics in an organizations panels.

## Steps to Reproduce

1. Just clean install of latest Sentry release

### What you expected to happen

Disp

[2021-04-15 14:25] ChrisBAshton commented on #25037
Thanks for the response, @leedongwei. Yes, I think that would work. Just working through some hypothetical numbers:

* If an account has a 30,000 errors per day limit
* Currently a per-project limit of 50% means one bad project can rack up 15,000 errors, potentially causing the rest of the org to quickly hit their rate-limit.
* Being able to set a daily per-project limit of, say, 1000 errors, mean

[2021-04-15 15:25] MasterWayZ opened #25303 "Adding U2F device results in 429 error"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

When attempting to add my YubiKey (default config however FIDO2 is disabled, FIDO U2F is enabled though), it infinitely wants to retry, though all POST requests to https://sentry.io/api/0/users/me/authenticators/u2f/enroll/ fail with 429 Too Many Requests.

## Steps to Reproduce

1. Go to https://sentry.io/setting

[2021-04-15 15:26] chadwhitacre opened #25304 "Sign out/in while on receipt lands me back on receipt"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Signing out and back in from most (all other?) pages lands me back on the Issues list. However, signing out and in from a payment receipt lands me back on the payment receipt.

## Steps to Reproduce

1. Navigate to a payment receipt (https://sentry.io/organizations/foo/payments/bar/)
2. Sign out.
3. Sign in.

###

[2021-04-15 15:27] chadwhitacre commented on #25304
Routing to @getsentry/ for [triage](https://develop.sentry.dev/processing-tickets/#3-triage)! :)

[2021-04-15 15:27] chadwhitacre commented on #25304
Routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage)! :)

[2021-04-15 15:29] chadwhitacre commented on #25303
Thanks @MasterWayZ, routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ☺️

[2021-04-15 15:35] chadwhitacre commented on #25300
Thanks @scorsair, routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). 👍

[2021-04-15 15:47] chadwhitacre commented on #25299
@ginokhumz2020 Unfortunately we had a [bug](https://github.com/getsentry/sentry/issues/24639) in recent versions related to metric alerts, can you upgrade to 21.3.1 (or 21.4.0 which should be out in a few hours ☺️ ) and try again? Sorry for the trouble. Closing for now, we can reopen if not fixed with an upgrade.

[2021-04-15 15:55] markstory commented on #25304
I can add this to the revenue team's backlog.

[2021-04-15 15:55] chadwhitacre commented on #25301
Thanks @scorsair. @BYK Thoughts on who to route this to?

[2021-04-15 15:57] chadwhitacre commented on #25304
Thanks @markstory. Label dance complete. 😬 💃

[2021-04-15 16:04] manuzope commented on #25299
Hi @inokhumz2020, you're right - the Pushover integration does not support metric alerts. We don't have it on our roadmap right now, but will keep the feature request open. cc: @jonesphillip

In the time being though, you could use the [integration platform](https://docs.sentry.io/product/integrations/integration-platform/#alerts) to build your own integration, which will work with metric alerts!

[2021-04-15 16:09] chadwhitacre opened #25306 "Make it easier for me to discover I'm being throttled"
## Summary

Account throttling can manifest to a user as lack of events, which can also be caused by misconfiguration. We should make it clearer when throttling is the cause of lack of events.

## Motivation

User reports [in Discord](https://discord.com/channels/621778831602221064/804769373025075301/829063782033522779) that it took them longer than was awesome to discover that their account was b

[2021-04-15 16:09] chadwhitacre commented on #25306
Routing to @getsentry/revenue for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-15 17:23] leedongwei commented on #25303
Hi @MasterWayZ, appreciate the bug report. I'm able to replicate and we'll look into this today.

[2021-04-15 17:27] chadwhitacre commented on #25301
Turns out this is on @BYK and I. :grin:

Will take a look ...

[2021-04-15 17:33] leedongwei commented on #25300
Hi @scorsair, thanks for the bug report.

I'm able to replicate and agree that this is not the right behavior. I'll put it on the backlog and we'll get the team to look into this soon.

[2021-04-15 17:48] manuzope commented on #25258
I'm assuming you want to use the Github integration for release tracking? My best suggestion would be do that without the Github integration: https://docs.sentry.io/product/cli/releases/#alternatively-without-a-repository-integration

[2021-04-15 18:29] jasikpark commented on #24323
I don't have a problem anymore with it, I seem to have gotten into a happy configuration w/ my account.

[2021-04-15 18:30] manuzope commented on #24171
Hey, I've emailed JIRA. Just waiting for a response to see what the best next step would be.

[2021-04-15 18:39] markstory commented on #25306
We currently send notification emails when accounts have used 80% and 100% of their quota. The subscription page also has usage overage front and center. We can look into having something on errors too though.

[2021-04-15 19:03] leedongwei commented on #24001
Fixed in https://github.com/getsentry/sentry/pull/24438 and https://github.com/getsentry/sentry/pull/25312

[2021-04-15 19:05] leedongwei commented on #24001
Hi @gbdlin, we'll be merging the fix later today.

Special shoutout to @3ka5-cat for submitting the patch.

Please let me know if it's still broken for y'all and I'll reopen the issue.

[2021-04-15 19:05] #24001 closed

[2021-04-15 19:08] chadwhitacre commented on #25306
Does it make sense to have something app-wide? Point being that if you miss the notification email (easy to do) then you don't know to be on the lookout when you're in the app. Better user experience to be notified, also presumably better for conversion, extra nudge.

[2021-04-15 19:31] leedongwei commented on #25303
@MasterWayZ Fix will be merged today: https://github.com/getsentry/sentry/pull/25312

[2021-04-15 19:34] MasterWayZ commented on #25303
Okay @leedongwei, not sure how it works when it comes to deploying to the SaaS site, but when would it be life on the SaaS site?

[2021-04-15 20:01] EvanPurkhiser commented on #25303
It will go out within the next hour or so :)

[2021-04-15 22:37] chadwhitacre commented on #25301
Alright, I am able to repro. And now that you mention it, I seem to remember hearing previously that `/manage/` is perhaps basically a lie. Accepting this as a backlog item, might be a dupe of this somewhere but leaving this open for now. Thanks for the report, @scorsair! :-)

P.S. Have you ever seen `/manage/` working properly before in the past?

<img width="1134" alt="Screen Shot 2021-04-15 at

[2021-04-16 01:19] MasterWayZ commented on #25303
When trying to add my U2F device with the above settings, I now get 400 Bad Request with the POST to https://sentry.io/api/0/users/me/authenticators/u2f/enroll/
In the request body:
`
{
    "challenge":	[ "Not a valid string." ]
}
`

[2021-04-16 04:29] Traqza commented on #25304
Thank you sir.

[2021-04-16 09:20] jan-auer commented on #23161
Thanks, this is definitely the issue. Internal Relays used for event ingestion in a Sentry setup *must* be in managed mode. More importantly, "processing" must be enabled like [here](https://github.com/getsentry/onpremise/blob/662a773e57dbae037ef095af588617f0c23cf4af/relay/config.example.yml#L7-L13):

[code]

For the curious, we have a high-level chart of event ingestion architecture in our [devel

[2021-04-16 09:20] #23161 closed

[2021-04-16 11:26] scorsair opened #25345 "SAML2: Sometimes users account is duplicated."
## Important Details

How are you running Sentry?
On-Premise w/ Docker, version 21.3.1

## Description

Sometimes users account is duplicated. It means new users don't have permissions and don't belong to any teams except default.  Users have similar email, but different GUID.  We have also tried a feature "organizations:sso-migration", but it didn't help.
Important: We use **only** SAML2 for auth

[2021-04-16 11:32] scorsair commented on #25301
Hi @chadwhitacre ! I'm really happy that you can reproduce this issue (i am not crazy yay ^^). The latest version we use before 21.3.1 was 9th and it's been working fine with /manage/ panel.

[2021-04-16 14:09] leedongwei commented on #25303
@MasterWayZ I was able to remove and setup my Yubikey. Could you try it on incognito? I want to be sure that your browser isn't caching our old build.

[2021-04-16 14:34] armenzg opened #25349 "Make sure git hooks are always up-to-date"
Some folks like me don't need to run devservices, thus, I disable `SENTRY_POST_MERGE_AUTO_UPDATE` since apply-migrations would always fail.

Because of that, I will not get `make setup-git` to run every time there's pre-commit changes (since we switched some packages to relying on `requirements-pre-commit.txt` rather than on pre-commit managing them).

Keeping pre-commits hooks up-to-date is impor

[2021-04-16 14:40] armenzg commented on #25349
@EvanPurkhiser @joshuarli what are your thoughts?

[2021-04-16 15:14] MasterWayZ commented on #25303
It works now, when I tried it the PR didn't get merged yet I just saw.
Thank you for fixing it!

[2021-04-16 16:55] gbdlin commented on #24001
Thanks! I guess there is still no way to identify existing U2F devices after the fact to name them properly without re-enrolling?

[2021-04-16 17:21] caseyduquettesc commented on #23161
Thanks @jan-auer. My issue was the `redis: ` config was not nested under `processing:` 😅

[2021-04-16 18:23] joshuarli commented on #25349
I don't see anything wrong with keeping it as it is currently. Also wasn't there this problem? https://github.com/getsentry/sentry/pull/25315

And unsetting SENTRY_POST_MERGE_AUTO_UPDATE, which is by default opt-in, doesn't prevent `config/hooks/post-merge` from saying what it needs to say - I'm confused with this:

[2021-04-17 07:25] immohsin commented on #24333
@BYK Thanks.

I trying to looking into the issue. I'm not able to add bitbucket integration to sentry server running locally. Any way I can add to test it out?

Here is the error
![Uploading Screenshot 2021-04-17 at 12.53.00 PM.png…]()

[2021-04-17 10:20] michaelmairegger commented on #25223
Same issue here. Dasboard worked with v21.3.0, stopped working with >21.3.1

[2021-04-18 22:46] gbdlin opened #25389 "Sentry allows to enroll the same U2F device twice"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

When enrolling U2F devices for 2 factor authentication, sentry allows to enroll the same device twice.

This can cause some serious mistakes when enrolling multiple devices, as one can enroll one device multiple times instead of enrolling multiple devices, each of them once, which in consequence can lead to a compl

[2021-04-18 22:52] gbdlin opened #25390 "Ability to rename existing U2F devices"
## Summary

Add ability to rename existing U2F devices

## Motivation

After the #24001 issue occured, some users can find themselves in the state of having their U2F devices incorrectly named and they may want to fix it. The only way right now to accomplish this is to remove and re-add every single device they've already enrolled, which is not only a bad User Experience, but it may be impossible

[2021-04-18 22:59] gbdlin opened #25391 "Add ability to identify an already enrolled U2F device."
## Summary

Add ability to identify an already enrolled U2F device.

## Motivation

After the #24001 issue occurred, some users can find themselves in the state of having their U2F devices unidentifiable by their names. Such situation cannot be currently solved without removing all U2F devices at once and enrolling them again or removing all U2F devices but one and checking which device can be suc

[2021-04-19 06:04] immohsin commented on #24333
NVM found a way to test

[2021-04-19 07:43] ds-cbo commented on #24794
I can also confirm this for Firefox 87.0 on macOS Big Sur 11.2.3 using a YubiKey 5 on a self-hosted Sentry instance. The same instance works fine on Chrome, and other websites work fine with the same key on Firefox.

[2021-04-19 10:06] priscilawebdev commented on #20336
I think we can now close this issue :)

[2021-04-19 10:06] #20336 closed

[2021-04-19 10:46] BYK commented on #25223
I can confirm this is the case. I suspect a few recent changes. Digging now. /cc @billyvg - I see a bunch of requests made to the IP address `34.73.148.112` which is Google Cloud so guessing this is related to recent FE asset split changes.

[2021-04-19 11:31] BYK commented on #25223
Okay, figured this out. You need to add the following to the enabled features list in `sentry/sentry.conf.py` in onpremise repo:

- `organizations:dashboards-basic`
- `organizations:dashboards-edit`

Directing to @markstory for a permanent solution.

[2021-04-19 11:43] BYK commented on #25223
@markstory btw the "failure mode" when the feature is not enabled is quite broken: we still see the link on the left side-bar and the page just shows empty with a footer.

I think we need an audit for the features disabled by default under `server.py` as the intention is to make everything enabled by default (for dev and self-hosted) and disable them over at getsentry for billed accounts?

[2021-04-19 12:04] jonathan-wondereur commented on #20336
That is unfortunate as it means the crash report can not work with focus lock, meaning I can not use it for my site. I would assume others would have this issue if they have models on their site ...

[2021-04-19 12:26] chadwhitacre commented on #25301
Well a lot has happened between v9 and v21.3.1! 😂

Looking forward to diving into this at some point, can't promise when though. :-/

[2021-04-19 12:34] BYK commented on #20336
@jonathan-wondereur you can always use the API directly: https://docs.sentry.io/api/projects/submit-user-feedback/

[2021-04-19 12:48] BYK commented on #25391
Pinging @getsentry/enterprise for triage

[2021-04-19 12:49] BYK commented on #25390
Pinging @getsentry/enterprise for triage

[2021-04-19 12:49] BYK commented on #25389
Pinging @getsentry/enterprise for triage

[2021-04-19 13:30] chadwhitacre commented on #25345
Hrm ... 🤔 Any ideas on how to debug this one, @getsentry/enterprise?

[2021-04-19 14:19] markstory commented on #25223
Yes that's generally how feature flags are intended to be used. I can flip on these flags and get the visibility team to review.

[2021-04-19 16:59] leedongwei commented on #25303
Awesome! Glad to hear that it's working again!

[2021-04-19 16:59] #25303 closed

[2021-04-19 17:05] leedongwei commented on #25345
@scorsair Thanks for the report! Apologies for the annoying user experience.

We are aware of this issue and we are improving account matching to fix this issue. I'll update again when a fix goes out.

[2021-04-19 17:12] leedongwei commented on #25390
@gbdlin Thanks for the report!

This was an oversight in the initial implementation - putting it on the backlog for the team to plan for time to fix it.

[2021-04-19 17:19] leedongwei commented on #25389
@gbdlin Thanks for writing up a detailed issue report!

Definitely agree that our U2F flow needs more love and your concerns here are valid. I'll address this as part of our upcoming auth refactor.

[2021-04-19 17:24] evansano commented on #25345
Thanks @scorsair for opening up this ticket, I'm also annoyedly affected by this issue.

@leedongwei , any estimates on when the fix would go out? Trying to gauge whether to wait for fix or downgrade back to a version where this issue isn't yet present. Regardless, thanks for taking this on!

[2021-04-19 18:22] leedongwei commented on #25345
@evansano My team is making improvements to the authentication flow during May to July. This is one of the key issues that we want to fix, so I'd give late June as a conservative estimate.

This bug comes from the original implementation (which is a few years old) so I would advise against downgrading your on-prem Sentry version.

[2021-04-19 18:51] armenzg commented on #25349
I think I'm OK with closing this issue since finding the right set up might take more work than what is worth.

My main concern is that I want all developers to always have their pre-commit checks up-to-date and I'm unclear as a way forward that would work for all. Not everyone calls `make develop` or `make setup-git` when they come to the repo since they don't often do changes for sentry.

That i

[2021-04-19 18:53] armenzg commented on #25349
Please re-open if you believe there's still some value on discussing this further.

[2021-04-19 18:53] #25349 closed

[2021-04-19 21:03] chadwhitacre commented on #25306
Translation: backlog!

[2021-04-19 22:02] #25420 closed

[2021-04-19 22:18] lobsterkatie commented on #25420
@padinko - sorry, forgot our bots wouldn't accept the issue as is. Regardless, it's probably a good idea to create a new issue for the package update once `ua-parser` has done their fix, as this will get auto-closed after a certain amount of time even if I re-open it now.

[2021-04-20 07:46] padinko commented on #25420
ok, they already have [issue](https://github.com/ua-parser/uap-core/issues/487) I will watch it and create new issue on fix

[2021-04-20 09:17] BYK commented on #24731
@scttcper ping for re-triage :)

[2021-04-20 13:11] Simek opened #25447 "Invisible text in new project name field in dark theme"
## Important Details

How are you running Sentry?

- Saas (sentry.io)

## Description

The text in new project name field is invisible in dark theme.

Win 10, Chrome

## Steps to Reproduce

1. Enable dark theme: https://sentry.io/settings/account/details/
2. Navigate to: https://sentry.io/organizations/{YOUR_ORG_NAME}/projects/new/
3. Start typing the project name

#### Preview
![err](https://user

[2021-04-20 13:46] dennisnuhiji opened #25448 "Captured exceptions interpreted as messages"
Unhandled JS exceptions that are happening at runtime are being interpreted in the Sentry UI as messages, which makes it hard to find the error since the stack trace is not getting resolved through the source maps.

![exceptionAsMessage](https://user-images.githubusercontent.com/18103853/115405317-6f81d480-a1ee-11eb-824f-27ddf721025e.png)

And here we can see that the error itself along with the s

[2021-04-20 13:46] #25448 closed

[2021-04-20 13:56] dennisnuhiji opened #25449 "Captured exceptions interpreted as messages"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Unhandled JS exceptions that are happening at runtime are being interpreted in the Sentry UI as messages, which makes it hard to find the error since the stack trace is not getting resolved through the source maps.

## Steps to Reproduce

1. Setup NextJS project with Sentry following the [with-sentry](https://gith

[2021-04-20 15:14] #21436 closed

[2021-04-20 18:56] #25223 closed

[2021-04-20 21:16] EvanPurkhiser commented on #25447
Thanks for reporting that!

[2021-04-21 09:04] overstep123 opened #25479 "build failed from dockerfile"
## Important Details

How are you running Sentry?

sentry:21.4.0  Docker:19.03.1

## Description

[What happened]

build failed from dockerfile

## Steps to Reproduce

1. git clone git@github.com:getsentry/sentry.git
2. cd sentry/docker
3. docker build -t sentry .

Good items to include here include:
![image](https://user-images.githubusercontent.com/41141842/115527398-99f19180-a2c3-11eb-8d6d-83fa

[2021-04-21 09:12] BYK commented on #25479
This is because it is now how we build our docker images. You can find the full steps here: https://github.com/getsentry/sentry/blob/master/docker/cloudbuild.yaml

[2021-04-21 09:12] #25479 closed

[2021-04-21 14:07] #25447 closed

[2021-04-21 15:03] #24671 closed

[2021-04-21 16:03] chadwhitacre commented on #25449
Thanks @dennisnuhiji, routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-22 06:50] max-wittig opened #25522 "Provide release notes"
## Summary

Provide release notes in GitHub releases (or anywhere `CHANGELOG.md`)

## Motivation

We don't know, if this is just a patch update or a security fix that needs to be deployed asap.

<img width="859" alt="image" src="https://user-images.githubusercontent.com/6639323/115668718-bf27e380-a347-11eb-98bf-210e3ef60c91.png">

[2021-04-22 06:53] max-wittig commented on #25345
The same thing happens with other type of auth systems (e.g. google)

[2021-04-22 08:39] ubergeoff opened #25525 "TRACING: getActiveTransaction always undefined and never sending any span's for route's"
## Important Details

Running Sentry in Angular - using @sentry/angular
Version 6.2.5 for and Angular application

[code]

## Description

Whenever I run my angular application (using a Proxy setup) - I never see "Tracing" logging any of my xhr requests.

More specifically (after looking at the code):

[code]

`activeTransaction`  Is always undefined.

I have double checked - that the code:

[code

[2021-04-22 08:49] BYK commented on #25522
Duplicate of #21594.

[2021-04-22 08:49] #25522 closed

[2021-04-22 08:58] BYK commented on #25522
@max-wittig - If you click on the compare dropdown, you can see what changes were merged between 21.4.0 and 21.4.1: https://github.com/getsentry/sentry/compare/21.4.0...21.4.1

Some notable PRs:

- #25458 (security)
- #25397 (fix)

[2021-04-22 09:26] kamilogorek commented on #25449
We don't have control over https://github.com/vercel/next.js/tree/canary/examples/with-sentry and we just released our own experimental next.js plugin https://docs.sentry.io/platforms/javascript/guides/nextjs/ which we recommend to try, as this is what we are going to iterate over.

[2021-04-22 10:25] GlobalKeeper commented on #24928
Confirm on start clear onpremise installation, version 21.4.0

[2021-04-22 11:32] Gregory-Widmer opened #25535 "Twilio integration : Allow Alphanumeric Sender ID"
## Summary

Allow using instead of a phone number an alphanumeric sender ID for Twilio.

## Motivation

It's useful to hide the phone number and prevent replies on a SMS. It's basically a customization feature, but I don't think it requires many changes.

## Additional Context

See [some twilio doc about it](https://support.twilio.com/hc/en-us/articles/223181348-Alphanumeric-Sender-ID-for-Twilio-P

[2021-04-22 13:10] deissh opened #25538 "Release version with an unescaped string."
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

error when trying to open a release. also, when trying to delete via the API, it gives the answer that it was not found
![image](https://user-images.githubusercontent.com/21129524/115654541-03ac8280-a33a-11eb-8fc0-0343479390fa.png)

## Steps to Reproduce

1. create a new release
2. then you need to set the release

[2021-04-22 17:32] #25449 closed

[2021-04-22 19:05] BYK commented on #25535
Pinging @getsentry/workflow for triage. Also ping to @getsentry/ecosystem in case this falls into their court.

[2021-04-22 20:02] BYK commented on #24928
Hi, sorry for the late response! I just tried this with the latest nightly and couldn't reproduce it. @GlobalKeeper is this what you mean, it is resolved in `21.4.0`?

[2021-04-22 23:00] wedamija commented on #24497
This is likely due to some delays we have during processing. Since Sentry receives a large number of events, we buffer writes to the `times_seen` counter on an issue for around 45 seconds before we write them to the table, which does a lot to prevent load on our primary database.

The issue here is that these writes don't end up happening before we evaluate whether to unignore an issue. So from th

[2021-04-23 12:41] #24828 closed

[2021-04-23 13:30] chadwhitacre commented on #24731
@nilpntr You'll have to ask for help over there (that's not our project).

(Yer off the hook @scttcper. 😁)

[2021-04-23 13:30] #24731 closed

[2021-04-23 14:08] chadwhitacre opened #25576 "Filter out browser extension errors"
Originally requested by @mikemaccana via [Twitter](https://twitter.com/mikemaccana/status/1385219567526547456):

Beyond ignoring in-app, another workaround is to set [`allowUrls`](https://docs.sentry.io/platforms/javascript/configuration/options/#allow-urls).

-----

<img width="512" alt="Screen Shot 2021-04-23 at 10 04 43 AM" src="https://user-images.githubusercontent.com/134455/115883368-b43e830

[2021-04-23 15:01] armenzg opened #25578 "direnv usability improvements"
Suggested fixes:

- If there are steps that take short time simply take them.
- Give a list of commands in one shot (instead of requiring multiple direnv invocations) to get into a good state.
- Share code paths between `direnv` and `lib.sh`
- Take advantage of `bootstrap-py3-venv`

[2021-04-23 17:43] joshuarli commented on #25578
for posterity: <img width="586" alt="image" src="https://user-images.githubusercontent.com/14209781/115909462-19659900-a45b-11eb-8666-c4129dc0895e.png">

[2021-04-23 17:44] acosta32 opened #25583 "Cannot init Sentry"
x

[2021-04-23 18:58] jonesphillip commented on #25276
@jpl5280 appreciate for the feedback. We support this workflow for [Jira](https://docs.sentry.io/product/integrations/jira/#automatically) and [Azure DevOps](https://docs.sentry.io/product/integrations/azure-devops/#automatically).

Asana is currently a legacy project-based integration. We've moved to an organization-based integration model (you can see this by looking at our Jira and Azure DevOps

[2021-04-23 21:10] #25583 closed

[2021-04-24 07:46] devtanna commented on #25535
I see the Twilio docs support this as correctly mentioned in the description.
https://www.twilio.com/docs/sms/send-messages#use-an-alphanumeric-sender-id

I can try to work on this if this is indeed an intended use case :)

CC: @jonesphillip

[2021-04-24 10:59] bradleyhodges opened #25606 "Unable to access sentry.io"
## Important Details

How are you running Sentry?

- [ ] On-Premise w/ Docker

- [x] Saas (sentry.io)

- [ ] Other

## Description

When attempting to access sentry.io from any major browser, a blank page is displayed with the following unstyled text:

Screenshot: https://i.gyazo.com/18756e41639fd0a3733dbca7ca4e17d1.png

I've disabled all extensions, attempted to access from a separate browser and

[2021-04-24 11:06] bradleyhodges commented on #25606
Probably should have checked my L7 firewall before submitting.. Looks like this was an IPS issue.

[2021-04-24 11:06] #25606 closed

[2021-04-25 00:17] etergen opened #25607 "POSTing to relay gets blocked by content blockers (again)"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

Reporting to sentry.io gets blocked by content blockers. As suggested in #23054, and as previously solved in #24947, I deployed relay, which solved the issue temporarily.

[This change](https://github.com/easylist/easylist/blob/2fdf00ce423af3b880a48aefb1bd33458a8d6684/easyprivacy/easyprivacy_general.txt#L347) ([com

[2021-04-25 00:19] etergen commented on #25607
And as @BYK did last time, I'm simply pinging @getsentry/owners-ingest for triage. (special ping to @untitaker and @jan-auer)

[2021-04-25 00:27] etergen commented on #25607
That didn't work as expected... lesson learned 😄

[2021-04-25 02:44] jawabuu commented on #16112
@dcramer Following up on https://github.com/getsentry/sentry-auth-google/pull/13/files
How does one configure `domain` or `domains` in sentry?

[2021-04-25 17:25] jan-auer commented on #25607
Nice try, but that one's off limits :) Let me do you the honors and route this to @getsentry/owners-ingest for you.

This is particularly challenging, since this contains required information and our JavaScript SDKs send this as query parameter to prevent CORS preflights. Apart from playing a cat-and-mouse-game with EasyList/EasyPrivacy, the best immediate option I can see is to open an issue on t

[2021-04-26 06:03] GlobalKeeper commented on #24928
No, that error I found in 21.4.0 too (some minutes later error disappeared)

[2021-04-26 06:45] lambdanetwork opened #25611 "sourcemap is missing for certain error, but it's working for others."
Hi,
I encountered issues where for certain error there is sourcemap available, but for other there will be an error shown (like image below) that `source code was not found`

<img width="1237" alt="Screenshot 2021-04-26 at 11 27 52" src="https://user-images.githubusercontent.com/58059627/116038972-b8c59e80-a69c-11eb-8938-a1bc55da2527.png">

I have checked that the minified code has `sourceMappingU

[2021-04-26 06:45] #25611 closed

[2021-04-26 06:52] xmedeko opened #25612 "configureScope setUser does not work in Electron main"
## Important Details

How are you running Sentry?
Saas (sentry.io)

Sentry SDK: JS @sentry/electron@2.4.0

## Description

In Electron main process `Sentry.configureScope` with `scope.setUser` does not work when initiated by Electron IPC. When I check issues on https://sentry.io I see "Unknown User"

However, it works when `Sentry.configureScope` is called on the main process start.

## Steps to R

[2021-04-26 06:56] BYK commented on #24928
@GlobalKeeper do you still see the "error while loading the component" error?

[2021-04-26 06:57] lambdanetwork opened #25613 "sourcemap is missing for certain error, but it's working for others."
## Important Details

I encountered issues where for certain error there is sourcemap available, but for other there will be an error shown (like image below) that source code was not found
<img width="1237" alt="Screenshot 2021-04-26 at 11 27 52" src="https://user-images.githubusercontent.com/58059627/116040979-40141180-a69f-11eb-994e-247cc5bfd18c.png">

I have checked that the minified code has

[2021-04-26 07:00] BYK commented on #25607
@jan-auer I think it it reasonable to rename the GET variables?

[2021-04-26 07:11] jan-auer commented on #25607
That's what I mean with a cat-and-mouse-game. It's a dirty workaround, until someone adds new rules. In the end, it doesn't solve the underlying issue because some people are considering Sentry a privacy concern.

[2021-04-26 07:16] BYK commented on #25613
Pinging @kamilogorek and @lobsterkatie for triage/help :)

[2021-04-26 07:17] BYK commented on #25607
@jan-auer agree with your point but this change will make it quite harder for them to target Sentry as we stop screaming "THIS IS SENTRYYY!!" in all requests :D

[2021-04-26 07:18] BYK commented on #25607
@etergen btw, I think you can be smart with your LB/router and remap these variables. This means you'd also need to tweak the SDKs but nobody said this was a _clean_ workaround :)

[2021-04-26 09:06] GlobalKeeper commented on #24928
No

[2021-04-26 09:23] BYK commented on #16112
@jawabuu this issue was closed due to staleness so I don't think this is possible yet. @leedongwei, is this something you'd consider as part of the current auth work?

[2021-04-26 09:24] BYK commented on #24928
Alright then, closing the issue. We can file a new one if the error comes back again.

[2021-04-26 09:34] saschanos commented on #24928
@BYK, for me the issue is not solved. It's still existing.

[2021-04-26 09:49] jawabuu commented on #16112
@BYK understood.
Just wanted to confirm this.
Considering you already have `DOMAIN_BLOCKLIST` it should be easy in my opinion to have something like `DOMAIN_ALLOWLIST`
I have implemented this approach in `sentry-auth/oidc` at
https://github.com/jawabuu/sentry-auth-oidc/commit/a3c4586446d2f80e4a7d8e7474845c720b85cb78
Reason for using the plugin is I'm using Gitlab as the auth provider.

[2021-04-26 09:50] jawabuu commented on #16112
@BYK understood.
Just wanted to confirm this.
Considering you already have `DOMAIN_BLOCKLIST` it should be easy in my opinion to have something like `DOMAIN_ALLOWLIST`
I have implemented this approach in `sentry-auth/oidc` at
https://github.com/jawabuu/sentry-auth-oidc/commit/a3c4586446d2f80e4a7d8e7474845c720b85cb78
Reason for using the plugin is I'm using Gitlab as the auth provider.

[2021-04-26 09:52] BYK commented on #24928
@saschanos can you provide more details about how to reproduce this? Also, have you tried this with the latest version?

[2021-04-26 11:15] saschanos commented on #24928
It directly appears after opening /manage/ url (see above). Will do an update as soon as possible; will maybe take several days because I need to inform all people using it.

[2021-04-26 14:32] deebov opened #25623 "scope.getTransaction is not a function"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version x.y.z

Saas (sentry.io)

Other, version x.y.z, [briefly describe your environment]

[code]

## Description

getting `scope.getTransaction is not a function` error when loading the page.

## Steps to Reproduce

The issue is inconsistent. So we don't know yet how to reproduce the issue.

Good items to include here inclu

[2021-04-26 15:50] dcramer commented on #16112
I dont think we exposed a way to configure it via the CLI, but you can update the database row to store domains vs domain

[2021-04-26 16:01] jawabuu commented on #16112
@dcramer Does this solve the issue of passing the domain or domains to be checked against when logging in?
How would one set this in for example `sentry.conf.py`

[2021-04-26 16:23] dcramer commented on #16112
You cannot configure these kinds of things via the python config. They're all at the database level and configured per-organization (which in self-hosted is usually a single org).

[2021-04-26 16:28] jawabuu commented on #16112
@dcramer Noted.
If I understand correctly, is the domain is populated from the org created in sentry?
Is it a requirement then that the org name be a domain?

[2021-04-26 16:40] dcramer commented on #16112
No - the domain is not at all related to the name of the org. When you attach an SSO account it is linked to your Google domain. We then retain that coupling. If you wish to support multiple Google-backed domains the only way currently is to change the config value in the db row to go from `domain => sentry.io` to `domains => ['sentry.io', 'getsentry.com']`

[2021-04-26 18:47] vojtechmares commented on #12774
Hello, I would like to bump this issue. Since I would say this is really nice to have feature - "quality of life improvement".

I would love to have this feature added (and our clients as well).

I work as a DevOps consultant, we recommend Sentry to everyone, but I hear, every time, why does it does not work like so...

Please, can we give this higher priority? Thanks!

[2021-04-26 19:29] saschanos commented on #24928
After upgrading to 21.4.1 the error is not shown anymore :). Thank you!

[2021-04-26 19:29] #24928 closed

[2021-04-26 21:25] etergen commented on #25607
Thanks for the advice, and while I'm sure I'll fix it for my current scenario, I strongly believe we should provide a solution to everyone relying on Sentry, otherwise what I'll do will only serve my use case and, sadly, implementing an in-house solution, or another system would be more attractive/effective than using Sentry.

I must insist on considering one of the below alternatives:
1. Get rid

[2021-04-26 21:46] nolanshaw800 commented on #25607
Hello! I would like to add my input that being blocked by ad blockers is an absolute **deal-breaker** with Sentry.

My company relies upon the data Sentry provides and if it continues to be being blocked by the default ublock/mainstream adblocker settings then we will need to search for another product or roll our own.

The main HTTP GET variable which easylist is using to track sentry "sentry_key

[2021-04-27 10:07] BYK commented on #25607
Thanks a lot for the many and good suggestions @etergen! I personally feel like there's some quick wins here and am discussing with @jan-auer and the team but at the end it will be a collaborative decision 🙂

Thanks for adding your perspective and experience @nolanshaw800, definitely helpful to prioritize the issue.

[2021-04-27 10:10] mitsuhiko commented on #25607
Unfortunately changing the authorization scheme is not a straightforward. If we change it in all SDKs now it breaks every non sentry.io installation out there. It would have to become an opt-in mechanism or do some auto detection based on if it sends to sentry.io or a custom installation.

[2021-04-27 10:11] BYK commented on #24928
Thanks for confirming @saschanos! I wish free fixes for everyone! 😝

[2021-04-27 10:16] BYK commented on #25607
@mitsuhiko I feel like we can easily change and map server-side variable names as a start and then add a manual opt-in flag to SDKs while we figure out a good auto-negotiation way. We may use the `options` pre-flight requests.

[2021-04-27 10:17] mitsuhiko commented on #25607
We're going to discuss this in the ingest team. Going to report back with something if we have a plan.

[2021-04-27 10:22] nolanshaw800 commented on #25607
It seems to me this needs to be treated like any API versioning and it wouldn't break anything if done properly.

You have authentication handshake v1 (sentry_key/etc) which will continued to be accepted and you have authentication handshake v2 which just allows optional configuration of the sentry_key query, perhaps on a project level.

[2021-04-27 10:31] mitsuhiko commented on #25607
The problem is not that versioning is hard, but that it's a thing users can easily get wrong. The likely outcome would be to have an sdk option to flip the transport format and you need to explicitly switch over to another one. But we're going to look into this. Generally speaking I'm not convinced that a simple change is not going to put us back into the same situation in a week. Easylist privacy

[2021-04-27 10:57] kamilogorek commented on #25613
"Source code was not found" is `JS_MISSING_SOURCE` error from https://github.com/getsentry/sentry/blob/c51e74dfb91fcf88d2642c536507f2a0d974422d/src/sentry/lang/javascript/processor.py
which is most likely caused by the on-prem instance being unable to fetch the source file that `abs_url` is pointing to. Unfortunatelly that's all I know here.

[2021-04-27 15:58] chadwhitacre opened #25670 "Add a link to the marketing site from the product"
## Summary

We use https://sentry.io/ for both the marketing homepage and the product itself depending on whether the user is authenticated. This can make it difficult for people who are logged into Sentry to access the marketing page (which _is_ actually still available at https://sentry.io/welcome/).

## Motivation

Sometimes you just wanna read some sweet, sweet marketing copy, ya know? Or look

[2021-04-27 15:59] chadwhitacre commented on #25670
@EvanPurkhiser Thoughts on what team to route this to? 🤔

[2021-04-27 17:09] EvanPurkhiser commented on #25670
This is probably a @cameronmcefee thing

[2021-04-27 17:13] cameronmcefee commented on #25670
This is the @getsentry/design if it's in the product.

[2021-04-27 17:25] chadwhitacre commented on #25670
Oh wow ... new team label to create. :)

[2021-04-27 17:31] untitaker opened #25672 "merge/unmerge loses total event counts of issue"
## Important Details

This affects all Sentry versions regardless of how they are run.

## Description

There are two kinds of event counts within issues:

- The ones calculated off of the still-retained event data ("snuba counts")

    ![Screenshot 2021-04-27 at 19 29 32](https://user-images.githubusercontent.com/837573/116285906-ec80f100-a78e-11eb-9031-a4b00fe448e8.png)

    This type of count i

[2021-04-27 17:38] untitaker opened #25673 "merging two issues can cause events to not be reflected in total event count ("times_seen")"
## Important Details

This affects all Sentry versions, like with #25672 the environment information is irrelevant.

## Description

See #25672 for an introduction to event counts and what they are. This is again about `times_seen`.

## Steps to Reproduce

1. Make sure Sentry's `buffers` backend debounces incrs aggressively (not necessarily the case in development)
2. Have two issues younger than

[2021-04-27 17:43] untitaker opened #25675 "Unmerging two fingerprints from one issue will temporarily show one fingerprint in two groups"
## Important Details

Like with all bug reports in this series (#25673 #25672), environment information is not relevant. Those are long-standing bugs.

## Description

We see that unmerging a merged issue will end up in a state where both clickhouse rows are visible in certain UI parts, despite the query allegedly being final.

## Steps to Reproduce

1. send two events that produce different group

[2021-04-27 17:51] untitaker commented on #5085
In master (and therefore on SaaS and on release 21.3.1), you should no longer observe the race condition that occurs with higher event volume. The database transaction turns out to be entirely tolerable in terms of performance.

The PR that fixes this is #24293 though the "feature"flag to fix this bug has been available for longer.

[2021-04-27 17:51] #5085 closed

[2021-04-27 18:25] ckj commented on #25670
I think this is an edge case, but it wouldn't be difficult to link to https://sentry.io/welcome/ from the footer. There's real estate here where we could place a 'Visit Sentry.io' link:

<img width="1067" alt="Screen Shot 2021-04-27 at 10 58 19 AM" src="https://user-images.githubusercontent.com/30713/116291561-93db3500-a749-11eb-9abf-4c7620836f88.png">

For things like pricing, we have the equival

[2021-04-27 18:30] ckj commented on #25670
I think this is an edge case, but it wouldn't be difficult to add a 'Visit Sentry.io' link to https://sentry.io/welcome/ from the footer here:

![Screen Shot 2021-04-27 at 10 58 19 AM](https://user-images.githubusercontent.com/30713/116293427-bb330180-a74b-11eb-87ae-a7b6743b1307.png)

As for things like Pricing, we have the equivalent information available on the Manage Subscription page and as an

[2021-04-27 18:45] dcramer commented on #25670
If someone wants to change this they can figure it out, but I would not consider this high priority. You can already access it via direct URL, and anything you "need" on the marketing site should be available within the product (pricing) or docs (platforms/etc).

[2021-04-27 19:31] imatwawana commented on #25670
FWIW, I went in many frustrating circles trying to get back to sentry "home" once I was an authenticated user on sentry.io. And I just told someone internally how to get out of this infernal loop the other day. I wonder if this is as edgy as we think? Maybe, just doesn’t tend to rise to the level of “lemme cry out for help."

[2021-04-27 19:35] chriswiggins commented on #25670
Thanks for creating the issue @chadwhitacre !

The issue with "Its in the product" is that 9/10 I just want to see your pricing plan options on your marketing screen, because to me this is a much better way of viewing it. Almost all other products we use put the user portal under a different subdomain, which avoids this issue entirely.

Perhaps I'm just an edge-case, but your marketing copy is far

[2021-04-27 19:36] chadwhitacre commented on #25670
+1 ... norm afaict is https://example.com/ &rarr; https://app.example.com/ or some such, but I assume that ship has sailed for Sentry. Link in the footer is least we can do.

[2021-04-27 19:38] dcramer commented on #25670
@imatwawana i would not make decisions based on how internal dev works. you can bookmark /welcome/ ultimately, and the use case for internal (as well as the patterns of uses) end up looking wildly diff than external consumers of sentry

im fine w/ the link, i just mean if someone wants to do it, do it, but unlikely this will fall on any specific teams backlog/roadmap

[2021-04-27 19:39] chadwhitacre commented on #25670
Copy that, gold leader. 👍

[2021-04-27 19:51] armenzg commented on #25578
I will take some of it in my PR (#25676) but those are bigger changes that I want to hold off until we're sure my PR is not good enough. We may do some other long term investments for the dev env (e.g. remote environment, docker image -- I used this for my previous project).

[2021-04-27 22:43] lobsterkatie commented on #25613
Have you uploaded the source maps and the bundle files to your sentry instance? This is an error about source maps being missing, not invalid.

[2021-04-28 00:37] snoozbuster commented on #24795
+1 on this. When a frontend engineer opens a PR, our build system automatically deploys that branch to a custom URL for preview and review, and we are tagging all sentry events logged from that branch with both the branch name and the code owner's slack handle. I'd like to configure a Sentry alert rule to automatically DM the code owner using this tag - but since dynamic channel names aren't suppo

[2021-04-28 05:35] adhiraj commented on #25215
This seems like an issue on github's side (doesn't support anything other than numbers). It _is_ possible for us to allow you to say "fixes <numeric issue id>" in your commit in addition to "fixes <short-id>", but at that point you may as well copy the URL of the issue and put it in the commit?

[2021-04-28 05:36] #25215 closed

[2021-04-28 08:46] summersonne opened #25716 "Organization Slug issue with OKTA integration using terraform"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Hello, Sentry
I am trying to create integration with Okta using terraform.
I did't find any descriptions about how to pass "Organization Slug" field
I can pass Base URL but no luck with Organization Slug unfortunately.

Terraform code sample:

`
resource "okta_app_saml" "sentry" {
  label             = "Sentry"

[2021-04-28 08:48] BYK commented on #25716
Pinging @getsentry/enterprise for triage

[2021-04-28 10:19] overstep123 commented on #21133
if this problem has been fixed? or I want to known if this problem would increase to data miss. (I think data would not miss if the redis command will retry if it failed).

[2021-04-28 14:30] chadwhitacre opened #25725 "Collapsing then expanding tree in trace view leads to text/icon overlap"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Collapsing then expanding the tree in trace view leads to text/icon overlap.

## Steps to Reproduce

1. Visit a trace view that has some icons in the tree ([e.g.](https://sentry.io/organizations/sentry/performance/trace/ce2c16305be745c6a2bc6c9e11fe4968/?pageEnd=2021-04-06T16%3A32%3A47.675&pageStart=2021-04-05T16%3

[2021-04-28 14:31] chadwhitacre commented on #25725
Thanks @chadwhitacre, routing to @getsentry/visibility for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). 😏

[2021-04-28 16:20] #25725 closed

[2021-04-28 18:25] jonesphillip commented on #25535
@devtanna looks like that's right. Another example here:
https://support.twilio.com/hc/en-us/articles/223133967-Change-the-From-number-or-Sender-ID-for-Sending-SMS-Messages

Are you still interested in working on this?

[2021-04-28 19:10] leedongwei commented on #25716
@summersonne Hello

I'm seeing Okta accepted the `organizationSlug` key on a POST request through their web UI. Could you try using this key instead?

If that doesn't work, you should contact Okta support as this is an Okta API issue.

[2021-04-28 19:22] #25716 closed

[2021-04-28 21:49] snoozbuster opened #25741 "Ability to make changes to an issue as part of an Issue Alert"
## Summary

Right now, Issue Alert Actions allow us to send notifications via email, slack, another integration, or create an issue via Jira. I'd like to be able to make changes to the incoming issue directly as part of the action, including things like:

* Marking an issue as ignored or as "resolved in next release"
* Assigning an issue to a particular person
* Attaching comments to an issue
* Li

[2021-04-28 22:16] untitaker commented on #5289
This is still an issue.

[2021-04-28 22:38] untitaker commented on #5289
Another fun fact is that first_seen on GroupEnvironment is updated with the current time instead of the event's timestamp in the same way that Group.first_seen is.

[2021-04-29 02:06] lambdanetwork commented on #25613
We haven't try to upload the sourcemaps directly.
Because on our sentry, some of the error actually has sourcemap,
Image below are the same version with image above, and the sourcemap shows.
<img width="1206" alt="Screenshot 2021-04-29 at 10 03 20" src="https://user-images.githubusercontent.com/58059627/116493856-2b6b8f80-a8d2-11eb-8efa-2de5e9003bc5.png">

I expect that when all error has NO sourc

[2021-04-29 09:51] psrcek opened #25757 "sentry_flutter segfaulted on app launch"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 21.1.0 486d790
sentry_flutter: 5.0.0

## Description

The app segfaulted on launch (sentry's fault).

## Steps to Reproduce

This only happened once. No idea how to reproduce, but I thought I'd report it anyway.

<details>
  <summary>Stacktrace (click to expand)</summary>

[code]
</details>

<details>
  <summary>Sentr

[2021-04-29 09:57] vadviktor commented on #5055
We just missed a few user issues and I can't find any alert rules nor tags to know if an event was received with user feedback. We report alerts to our Slack and would need to see if any of the issues were actually commented on by a customer so we could jump on it much quicker. Please don't close this and at least give us a tag to see if it has user feedback, thanks!

[2021-04-29 15:36] lobsterkatie commented on #25613
If you're not uploading any source maps, then the instances in which it works represent your sentry server being able to find both the minified file and the source map online, and conversely, the instances in which it doesn't work represent it searching online and not finding one or both of those files.

So, for instance, if on Monday you deploy `main.bundle.a1b2c3.js` (and its associated source m

[2021-04-30 07:53] devtanna commented on #25535
@jonesphillip I have opened a PR for initial review :)
Please let me know if I have missed anything.

[2021-04-30 09:26] caioricciuti commented on #22715
Same here! Following @christopherowen suggestion, it worked! Thanks!

[2021-04-30 13:10] #25578 closed

[2021-04-30 17:23] chadwhitacre commented on #25741
Thanks @snoozbuster, routing to @getsentry/workflow for [triage](https://develop.sentry.dev/processing-tickets/#3-triage).

[2021-04-30 20:05] scttcper commented on #25741
Adding an environment [docs](https://docs.sentry.io/product/sentry-basics/environments/) to the preview environments like staging or pre-prod would allow you to filter the "for review" tab by production issues making it easier for the on-call.

Tags can also be used to assign directly to teams or users via [codeowners](https://docs.sentry.io/product/issues/issue-owners/).  Once the issue has an ow

[2021-04-30 20:56] jonesphillip opened #25794 "Early Adopters: Sync CODEOWNERS with Sentry Issue Owners"
## Update
**July 29, 2021**
This feature is now available to organizations on Business plans in the Early Adopter program.

[See our docs](https://docs.sentry.io/product/issues/issue-owners/#code-owners) to get started with importing your GitHub or GitLab CODEOWNERS.

We'd love your feedback as we continue to build, so let us know on this issue or send us an email at ecosystem-feedback@sentry.io.

[2021-05-02 07:35] stefanschindler opened #25804 "Bitbucket Integration: "This app is misconfigured""
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version "Sentry 21.4.1"

## Description

Hi!

I am not able to use the Bitbucket integration for my On-Premise Sentry installation.

I am getting the following error when trying to install the Bitbucket Integration:

**An error has occurred during installation**

descriptor_uri: The add-on server wasn't able to authorize your

[2021-05-03 01:40] lambdanetwork commented on #25613
thanks

[2021-05-03 01:40] #25613 closed

[2021-05-03 08:57] BYK commented on #25804
Hi there! You should be checking your `redirect_uri` and `system.url-prefix` configurations.

I'll be closing this issue as it is not something we act on. You may want to seek help from [the forum](https://forum.sentry.io).

[2021-05-03 08:57] #25804 closed

[2021-05-03 14:23] olivierchatry commented on #24035
Hello !
Any update on this task ?

[2021-05-03 17:36] jonesphillip commented on #18312
@kevincox @burkestar @mufid We're working on making this happen!

If you're interested in learning more or trying it out check out: https://github.com/getsentry/sentry/issues/25794

We'd love to get your feedback on this.

[2021-05-03 18:16] jazzdragon commented on #12341
Would love it if I could configure sentry to log to the console instead of sending the event to sentry in certain environments (e.g. `dev`)

[2021-05-03 18:39] #18312 closed

[2021-05-04 15:45] samirpenkar opened #25854 "Cannot access account - Simulation Powered Learning"
We have Sentry enabled for our applications. But the errors stopped flowing. When I tried to log into Sentry, I could not find out organization.

My account on the invoice is Account: it@simulationpl.com

Can you please look into this?

Samir Penkar
samirpenkar@simulationpl.com

[2021-05-04 15:46] #25854 closed

[2021-05-04 20:38] #25670 closed

[2021-05-05 07:44] BillSchumacher commented on #23937
We were having a similar problem, which turned out to be devs running the production version while testing fixes from feature branches. Which uploaded different source maps than what would have mapped to the deployed application.

Might be your issue or might not, figured I would throw it out there.

[2021-05-05 14:52] theoribeiro opened #25882 "Jira "create new issue" and "link issue" broken"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

After installing the Jira integration, we cannot create new issues or link an existing issue.
When trying to create the issue, the field "Reporters" is empty, not letting us create the issue as it is a required field. Other  fields like "Components", "Project" and "Issue Type" have the correct options, which shows

[2021-05-05 16:06] goldylucks opened #25884 "Redux integratoin doesn’t show objects and arrays"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

[What happened]

I see strings numbers and booleans, but when something is an array I only see the actual word “Array”, same for “Object”, and there’s also something called “Filtered” which I think is nested objects.

How do I get the actual values out of them?

Thanks in advance!

PS. Besides of this one glitch (

[2021-05-05 18:15] MikeKasperlik opened #25889 "Webpack sourcemaps not working for minified code"
## Important Details

How are you running Sentry?

We run a on premise installation but I duplicated the setup to sentry.io to make sure it is not an issue with out local installation.

## Description

We have a react app build with webpack which reports errors to sentry. Sourcemaps are uploaded as part of the release process. As soon as we turn on webpacks `optimization.minimize` feature stacktac

[2021-05-05 18:22] BYK commented on #25889
Pinging @kamilogorek and @lobsterkatie for triage

[2021-05-05 18:46] quinnleong opened #25892 ""Link Asana Issue" modal spontaneously closes"
## Important Details

How are you running Sentry?
Saas (sentry.io) - in Chrome Version 90.0.4430.93 (Official Build) (x86_64)

## Description

The modal to create or link an Asana issue spontaneously closes in the middle of editing.

## Steps to Reproduce

1. Visit a specific issue in Sentry
2. Click the "+" next to Asana Issue under Linked Issues
3. Start editing and watch the modal disappear mid

[2021-05-05 19:20] BYK commented on #25892
Pinging @getsentry/ecosystem for triage

[2021-05-05 19:20] BYK commented on #25882
Pinging @getsentry/ecosystem for triage

[2021-05-05 19:22] BYK commented on #25741
@snoozbuster does this help you move forward?

[2021-05-05 20:48] ceorourke commented on #25882
@theoribeiro we can look into this more but if you type in "T" (for Theo) for example in the reporter dropdown do you see your name and are you able to create the issue?

[2021-05-05 21:26] #24949 closed

[2021-05-05 21:43] snoozbuster commented on #25741
@BYK @scttcper sorry - a laptop malfunction caused me to be out of commission for the start of the week. Let me look into the codeowners configuration and see what I can do with that - it should help a little but I am still looking for some way to automatically resolve these issues. If I only have issue assigning but not resolution, I am worried that issues which are assigned to a branch owner and

[2021-05-05 21:45] quinnleong commented on #25892
I just found a little more context 🙂 It seems to happen consistently and only in this case:
- when linking an issue, not creating one
- when editing the "Comment" field _before_ the "Task" field has finished loading (the loading dots animation still going)

Hope this helps a little!

[2021-05-05 23:22] manuzope commented on #25892
Hi @quinnleong, can you email the gif to me at manu@sentry.io?

Would also be helpful to know your organization slug.

[2021-05-05 23:23] manuzope commented on #25892
Also, do you see any non-200s in the network tab?

[2021-05-06 14:42] theoribeiro commented on #25882
@ceorourke My bad! It was not clear to me that I could type on that field, I thought it was only a select box. Typing in the name of the reporter works.

Closing this as it was an error on the user side. You might want to think if there's any way to make it a little clearer that it is not only a select box.

[2021-05-06 14:42] #25882 closed

[2021-05-06 17:11] untitaker commented on #25675
Fixed by https://github.com/getsentry/snuba/pull/1849

[2021-05-06 17:11] #25675 closed

[2021-05-06 23:09] billyvg commented on #22503
Closed by #25777

[2021-05-06 23:09] #22503 closed

[2021-05-06 23:51] snoozbuster commented on #25741
Code owners does work for assigning, but is there any way to avoid one line for each user? this goes on for many lines and doesn't scale - it would be nice if this could just be a single line to the effect of `tags.branch_owner:* ${match}@productiv.com`

![image](https://user-images.githubusercontent.com/5778364/117378939-42d6e980-ae8b-11eb-930d-9cfaf56bce73.png)

[2021-05-07 22:33] Spice-King commented on #25607
Kinda sad to see this end up blocked a few weeks after I found Sentry, suggested it to my boss and got the green light to set aside resources for it. Domain name was easy to work around, but the `sentry_key` bit is kinda a hard blocker.

We are kinda in a somewhat unique situation where we have a number of internal services that we wanted reporting for, but also use AD policies to force install an

[2021-05-08 03:16] Y-lonelY opened #25957 "Set [Allow JavaScript source fetching] is False dose not take effect?"
## Important Details

How are you running Sentry?

self-hosted
version 9

## Description

1. i have set Allow JavaScript source fetching(both organization and project) is False, but when i look the issues, i found it will still fetch for source code.
2. it may cause ssrf....

### What you expected to happen

i really wanti konw how to disable the sentry to fetch the source code / assets.....help~

[2021-05-08 18:18] maxkachalin opened #25962 "White font in white input box in dark theme"
### Version Information

Version: 21.4.037b2bca

### Steps to Reproduce

1. Select dark theme.
2. Press «Create project».
2. Scroll down to «Give your project a name».
3. Try to type new project name.

### Expected Result

Visible text in input box.

### Actual Result

Invisible white text on white background.

There is hidden text:

<img width="327" alt="Screenshot 2021-05-08 at 21 11 05" src="ht

[2021-05-10 03:53] #22390 closed

[2021-05-10 07:01] stoefln opened #25959 "Sentry reports wrong line number"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description

The reported issue points to a line, that does not show the relevant line of the crash
See:
https://sentry.io/organizations/stephan-petzl/issues/2376095034/?environment=production&project=1554144&query=release%3ARepeato-0.9.6-win32+is%3Aunresolved&sort=user&statsPeriod=14d

## Steps to Reproduce

I can't tell how t

[2021-05-10 07:50] woylie opened #25960 "Sensitive data not scrubbed from exception stack traces"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Sensitive data is not scrubbed from exception stack traces.

This is related to https://github.com/getsentry/sentry/issues/9309, which didn't get any answers.

## Steps to Reproduce

We have a Phoenix application. The endpoint looks something like this:

[code]

We found an `Phoenix.ActionClauseError` logged in Se

[2021-05-10 10:12] getsentry-release commented on #25959
[Failed](https://github.com/getsentry/sentry/actions/runs/827632394) to route to `Team: Web Platform`.  😕

Defaulting to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-10 10:13] BYK commented on #25959
Pretty sure this is a sourcemap issue on your end. Pinging @lobsterkatie and @kamilogorek for triage.

[2021-05-10 10:22] getsentry-release commented on #25960
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-10 10:25] BYK commented on #25957
Sorry but Sentry 9 is very old and unmaintained. We won't be digging in whether this is broken then or not. If you can test this with a recent version of Sentry (such as 21.4.1) we can help.

Is this possible for you?

[2021-05-10 10:25] getsentry-release commented on #25957
Routing to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-10 10:30] getsentry-release commented on #25962
Routing to @getsentry/app-frontend for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-10 10:30] BYK commented on #25962
Apologies for the bot confusion. We should really align those templates across repos :)

[2021-05-10 10:48] untitaker commented on #25960
I believe this is best filed against the Ruby SDK.

Note that "this PII did not get scrubbed" can have many different root causes, and in the previous issue you linked it was not even the same SDK that implemented this functionality. There *is* server-side settings for scrubbing data, but here you clearly configured it in the SDK.

I'm transferring this to sentry-ruby now.

[2021-05-10 11:24] iamparasbansal commented on #25962
Can I Work on this issue?

[2021-05-10 11:54] maxkachalin commented on #25962
@BYK, FYI I placed this bug in onpremise repo because in cloud ver I was unable to reproduce such behavior.

[2021-05-10 12:18] getsentry-release commented on #25959
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-10 12:18] chadwhitacre commented on #25959
(Sorry for the noise, testing the bot.)

[2021-05-10 12:34] BYK commented on #25962
@maxkachalin then it is very likely to be fixed on onpremise too. Seems like this is from 21.4.0?

[2021-05-10 16:19] dashed commented on #25962
@BYK @iamparasbansal This may have been addressed in https://github.com/getsentry/sentry/pull/25461

[2021-05-10 17:53] BYK commented on #25962
Closing assuming this is fixed in #25461. Thanks a lot @dashed, I was looking for this PR!

[2021-05-10 19:02] w4ugit opened #25978 "Error installing on Debian 10"
## Important Details

How are you running Sentry?

Docker

## Description

I run the command - ./install.sh
and I get an error
`Step 3/5 : RUN apt-get update && apt-get install -y --no-install-recommends cron &&     rm -r /var/lib/apt/lists/*
 ---> Running in 3efade6ad7d0
Err:1 http://deb.debian.org/debian buster InRelease
  Temporary failure resolving 'deb.debian.org'
Err:2 http://security.debian

[2021-05-11 08:27] shadow-cs commented on #22874
I'd find that extremely useful indeed. I'd like to filter devices (we use Sentry in an IoT world) based on a serial number if one goes haywire (since the devices are usually behind cell operator gateway, IP filtering won't do us much good in this case).

[2021-05-11 13:06] kamilogorek commented on #25959
Correct, the source maps are invalid in the first place. You can verify this by running

[code]

on your uploaded artifacts. It doesn't resolve correctly.

Try to remove `mode: 'production'` and then play around with `minimize` config as well, see: https://github.com/getsentry/sentry-javascript/issues/2701#issuecomment-656592209

btw. you don't need to upload all your sources, bundles and maps are

[2021-05-11 14:06] markstory commented on #22874
I'm not overly close to the roadmap for inbound filters. There is a team working on evolving inbound filters but tags are not currently part of that scope either.

[2021-05-11 17:06] ceorourke commented on #25882
Hey @theoribeiro - I made this small change I hope helps https://github.com/getsentry/sentry/pull/25946

[2021-05-11 22:20] bruno-garcia commented on #8775
The issue seem not to be resolved: https://forum.sentry.io/t/raw-exception-doesnt-match-app-only-view/13806/8

[2021-05-12 02:01] Y-lonelY commented on #25957
Yeah, in plan, much thanks to you!

[2021-05-12 02:01] #25957 closed

[2021-05-12 07:48] shadow-cs commented on #22874
@markstory is there an epic or some docs we can read regarding the evolution of the inbound filters?

[2021-05-12 08:09] ueman opened #26004 "Display language of Device context in a more human readable form"
## Summary

The [device context](https://develop.sentry.dev/sdk/event-payloads/contexts/#device-context) of an event has a field
for the language. It's most like in one of these two letter language format, like `en_US`.
I would like to see a more human readable description of it. For example `en_US` should be `English (United States)`

## Motivation

Having just the two letter code does not really

[2021-05-12 08:18] ueman opened #26005 "Infer `screen_height_pixels` and `screen_width_pixels` from `screen_resolution`"
## Summary

The [device context](https://develop.sentry.dev/sdk/event-payloads/contexts/#device-context) of an event has field for the screen size.
If `screen_resolution` is given `screen_height_pixels` and `screen_width_pixels` should be inferred from it.
If `screen_height_pixels` and `screen_width_pixels` are given `screen_resolution` should be inferred from it.

Also if `screen_resolution` matc

[2021-05-12 10:48] 5long opened #26006 "Include culprit of event in Slack message"
## Summary

Include culprit of event in Slack message

## Motivation

It helps users identify the issue quicker.

The legacy Slack integration already does this but the modern integration does not. It'd be good to see this feature preserved in the modern integration.

## Additional Context

There is a post on [forum.sentry.io](https://forum.sentry.io/t/is-it-possible-to-we-have-the-issue-message-c

[2021-05-12 11:26] qq865738120 opened #26007 "Run project error "scope.getTransaction is not a function""
## Important Details

An error is reported in `@sentry/tracing` after initialization.Causes the entire page to crash and cannot be opened.
This problem occurs suddenly, and sometimes it returns to normal on its own.

SDK version 6.2.0

## Description

When i don't use `@sentry/tracing`. Will appear hub.startSession is not a function.Here is my initialization code.
[code]
The error stack is as foll

[2021-05-12 13:43] stoefln commented on #25959
@kamilogorek I think you made a mistake pasting the right column number. I tried locally and source-map-cli is able to locate the right line.
![image](https://user-images.githubusercontent.com/562800/117984841-78bb1880-b338-11eb-8373-a011faedbe94.png)

I can't switch off production mode because I need the minification to protect my code. The same is true for the config option
[code]
This is an ele

[2021-05-12 13:48] kamilogorek commented on #25959
![image](https://user-images.githubusercontent.com/1523305/117985925-73120280-b339-11eb-8f8e-0bb18c6651f2.png)

Will take a look at it, pardon 🥲

[2021-05-12 14:14] chadwhitacre commented on #25889
So what's the decision, are we closing as not our problem, or are we accepting this as a bug for us to work around?

[2021-05-12 14:16] jan-auer commented on #22874
@shadow-cs We can't share a public roadmap on inbound filters just yet. Most likely, I can share something in summer.
Controlling traffic by tags is definitely on our radar.

[2021-05-12 14:57] MikeKasperlik commented on #25889
I tried quite a few combinations of options in terser / uglifyJs and was not able to get this working in a proper way. For me as a Sentry user some kind of hint what I can do in my application inside your docs would be great.

I don't know the numbers, but webpack + minify seems like a pretty popular choice nowadays.

[2021-05-12 15:23] keradus commented on #22874
thanks for the news, @jan-auer !

[2021-05-12 16:15] getsentry-release commented on #26006
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 16:18] tzkmx opened #26013 "Link issue to github is broken"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

The "Link Github Issue" throws an error.

![imagen](https://user-images.githubusercontent.com/11432557/118009621-d38e4900-b313-11eb-8787-8827145b7730.png)

## Steps to Reproduce

1. Check a new issue.
2. Click on the "Link Github Issue".
![imagen](https://user-images.githubusercontent.com/11432557/118009180-75f9fc

[2021-05-12 16:22] getsentry-release commented on #26013
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 16:22] getsentry-release commented on #26005
Routing to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 16:23] BYK commented on #26005
@ueman it is pretty hard to understand what the issue is about. Looks like an SDK issue but the link you refer to is about SDK development. Which SDK are you having issues with?

[2021-05-12 16:28] getsentry-release commented on #26004
Routing to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 16:28] BYK commented on #26004
@ueman it is pretty hard to understand what the issue is about. Looks like an SDK issue but the link you refer to is about SDK development. Which SDK are you having issues with?

[2021-05-12 17:07] manuzope commented on #26013
Hey @tzkmx, can you try again? We just fixed a bug.

[2021-05-12 17:53] ueman commented on #26004
I'm talking about the UI and especially about the device context: ![image](https://user-images.githubusercontent.com/1270149/118021468-89c95100-b35b-11eb-806c-ba0508fdcc55.jpeg)

[2021-05-12 17:54] ueman commented on #26005
I'm talking about the UI and especially about the device context: ![image](https://user-images.githubusercontent.com/1270149/118021468-89c95100-b35b-11eb-806c-ba0508fdcc55.jpeg)

Sorry for the confusion

[2021-05-12 17:55] getsentry-release commented on #26004
Routing to @getsentry/visibility for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 18:49] getsentry-release commented on #26005
Routing to @getsentry/visibility for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 20:09] getsentry-release commented on #26005
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 20:18] getsentry-release commented on #26004
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-12 22:59] bruno-garcia commented on #26005
@matejminar @priscilawebdev  we were hoping this is something you would consider adding support for.

[2021-05-12 23:04] bruno-garcia commented on #26004
Similarly to #26005 we believe this could be a feature to the issues detail page. And hoped it would get into @matejminar and @priscilawebdev for review.

[2021-05-13 07:29] azazel75 opened #26026 "Stack trace root option is insufficient in elixir project with umbrella"
Hello I'm trying to link the stack trace to the sources stored in a gitlab instance. The project is has an ["umbrella"](https://hexdocs.pm/mix/1.9.0/Mix.Tasks.New.html#content) layout  and the available `stack_root` cannot be set to in a way that gives meaningful prefix to the file paths in the stack trace.

## Important Details
An umbrella project can contain multiple projects that are bundled to

[2021-05-13 08:55] kimxogus opened #26027 "Can't create alert rule with slack action"
## Important Details

How are you running Sentry?

On-Premise w/ Docker, version 20.4.1 in kubernetes using [sentry-kubernetes/charts/sentry](https://github.com/sentry-kubernetes/charts/tree/develop/sentry)

When I try to create(or edit) alert rule with slack action, sentry hangs with message `Looking for your slack channel (this can take a while)`.
After a few minute, `Looking for that channel to

[2021-05-13 11:08] kamilogorek commented on #25889
@MikeKasperlik the main issue here is that you are throwing an error in the main code execution pipeline. The way webpack works, it that it bundles everything into an IIFE, so any error that will happen inside that initial code execution, will include this IIFE call as well, and there's no way around it.
However, once you go outside of that execution, be it any user interaction, events, clicks, ti

[2021-05-13 11:08] #25889 closed

[2021-05-13 11:44] kamilogorek commented on #25959
@stoefin no, wait, I was correct. I copy-pasted command wrong to the comment, but I used the correct value in my test.

![image](https://user-images.githubusercontent.com/1523305/118120834-ca26de80-b3f0-11eb-8094-60127d6fd384.png)

This means that the uploaded bundle, and what you have locally differ . Either due to using different artifacts when you are producing error, or using different release

[2021-05-13 12:10] getsentry-release commented on #26027
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-13 12:10] getsentry-release commented on #26026
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-13 12:16] getsentry-release commented on #8775
Routing to @getsentry/visibility for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-13 12:20] chadwhitacre commented on #8775
Routed based on https://github.com/getsentry/sentry/issues/8775#issuecomment-398390539, where it sounds like this is a rendering issue in the events UI. That said @priscilawebdev @rhcarvalho if we should route this to webplatform or somewhere else instead lmk.

[2021-05-13 12:28] chadwhitacre commented on #8775
Alright, rejected by Visibility. Routing to you @rhcarvalho. 😬

[2021-05-13 12:28] getsentry-release commented on #8775
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-13 17:24] alfonsocj opened #26029 "Issue when configuring Jira integration"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description
When trying to add the Jira integration I get a blank page on the Jira configuration.

![-_JIRA](https://user-images.githubusercontent.com/3791120/118162212-7c10db80-b3ee-11eb-8897-baa5eaeac77d.jpg)

### What you expected to happen

To see the configuration page

[2021-05-13 17:49] getsentry-release commented on #26029
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-05-13 18:02] manuzope commented on #26029
Hi @alfonsocj, looks like you're running into the issue described here: https://docs.sentry.io/product/integrations/jira/#something-went-wrong-message-with-jira-on-saas-sentryio-install

Could you try the remediation described on the docs?

[2021-05-13 18:10] alfonsocj commented on #26029
Hello @manuzope, I do not have an ad blocker and I tried with Chrome, Brave, and Safari and I see the same issue on all of them.

[2021-05-13 18:47] manuzope commented on #26029
I see. Are you using JIRA cloud or JIRA server?

[2021-05-13 18:52] alfonsocj commented on #26029
JIRA cloud

[2021-05-13 21:41] garygreen opened #26048 "Local hosted artifacts (Filesystem API?)"
I hope this is a reasonable place to suggest this feature.

We've tried this plugin in our app and we are a bit concerned about the security implications of sending all our source javascript files over to Sentry. By default it seemed to send every single file webpack came across in the compilation tree, which is quite concerning. We're even concerned it's sent across private environment keys and f

[2021-05-14 04:45] kimxogus commented on #26027
+ It was metric alert

[2021-05-14 05:08] kimxogus commented on #26027
I found that creating issue alert shows `The slack resource "***" does not exist or has not been granted access in the *** Slack workspace.`

And log found
[code]

I verified my client id, client secret and signing secret, but those values are correct.
Does slack integration in sentry is affected by https://api.slack.com/changelog/2021-02-24-how-we-broke-your-slack-app ??

[2021-05-14 06:27] kamilogorek commented on #26048
cc @untitaker @jan-auer

[2021-05-14 08:56] stoefln commented on #25959
@kamilogorek what steps (besides adding rewrite: false) would I have to take to confirm?
This is very hard to debug IMO. I am trying to get this working since x versions of my app. My process is currently:

1. change some configuration
2. build and upload to sentry
3. wait for errors to pop up
4. check the sentry tickets (most of them work more or less, some others have a messed up stack trace)

T